.social-links {
  border: 2px solid #000; 
  border-radius: 4px; 
  display: inline-block; 
}
.social-links-icon {
  border-right: 2px solid #000; 
  box-sizing: border-box; 
  float: left; 
  height: 40px;
  padding: 10px; 
  text-align: center;
  width: 42px;
}
.social-links-icon:last-child {
  width: 40px; 
  border-right: 0px; 
}
.social-links-icon svg {
  fill: #000;
  height: 15px;
  width: auto;
}
.social-links-icon:hover {
  background-color: #000; 
}
.social-links-icon:hover svg {
  fill: #fff; 
}