.testimonial {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 15px solid transparent;
    margin-top: 20px;
    padding: 45px 40px 30px;
    text-align: center;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.testimonial:hover {
    background-color: #FFFFFF;
    border-bottom: 15px solid #34B5E5;
}

.testimonial__avatar,
.testimonial__name {
    display: inline-block;
    margin: 20px 0 0;
    vertical-align: middle;
}

.testimonial__avatar {
    border-radius: 50%;
    height: auto;
    width: 45px;
}