/* Primary Button */

button,
.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #C168C2;
  border: 1px solid #C168C2;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

button:disabled,
.button:disabled {
  background-color: #d0d0d0;
  color: #e6e6e6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #E77DE8;
  border-color: #E77DE8;
}

button:active,
.button:active {
  background-color: #E77DE8;
  border-color: #E77DE8;
}

/* Secondary Button */

.button.button--secondary {
}

.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active {
}

/* Button Sizing */

.button.button--small {
  font-size: 0.875rem;
}

.button.button--large {
  font-size: 1.125rem;
}

/* Button Icons */

.button .button__icon svg {
  fill: inherit;
  display: block;
  height: 1.25rem;
  margin-right: 1rem;
}

.button.button--icon-right .button__icon {
  order: 1;
}

.button.button--icon-right .button__icon svg {
  margin-right: 0;
  margin-left: 1rem
}