/* Table */

table {
  background-color: #FFF;
  border: 1px solid #D0D0D0;
  color: #1E2B33;
  margin-bottom: 1.4rem;
}

tbody + tbody {
  border-top: 2px solid #D0D0D0;
}

/* Table Cells */

th,
td {
  border: 1px solid #D0D0D0;
  padding: 0.75rem;
  vertical-align: top;
}

/* Table Header */

thead th,
thead td {
  background-color: #34B5E5;
  border: 2px solid #D0D0D0;
  color: #FFF;
  vertical-align: bottom;
}

/* Table Footer */

tfoot td {
  background-color: #FFF;
  color: #1E2B33;
}
