html {
  font-size: {{ get_theme_style_setting('typography_group.typography.body_font.size.value', 'typography_group.typography.body_font.size.units') }};
}

body {
  color: {{ get_theme_style_setting('typography_group.typography.body_font.color') }};
  font-family: {{ get_theme_style_setting('typography_group.typography.body_font.font') }};
  font-size: {{ get_theme_style_setting('typography_group.typography.body_font.size.value', 'typography_group.typography.body_font.size.units') }};
  line-height: 1.4;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.4rem;
}

strong {
  font-weight: 600;
}

/* Links */

a {
  color: {{ get_theme_style_setting('links_group.links.link_color.color') }};
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: {{ get_theme_style_setting('links_group.links.link_hover_color.color') }};
  text-decoration: underline;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
  margin: 0 0 1.4rem;
  word-break: break-word;
}

h1,
h2,
h4,
h5 {
  text-transform: uppercase;
}

h1 {
  color: {{ get_theme_style_setting('typography_group.typography.heading_one.color') }};
  font-family: {{ get_theme_style_setting('typography_group.typography.heading_one.font') }};
  font-size: {{ get_theme_style_setting('typography_group.typography.heading_one.size.value', 'typography_group.typography.heading_one.size.units') }};
  font-style: {{ get_theme_style_setting('typography_group.typography.heading_one.styles.font-style') }};
  font-weight: {{ get_theme_style_setting('typography_group.typography.heading_one.styles.font-weight') }};
  text-decoration: {{ get_theme_style_setting('typography_group.typography.heading_one.styles.text-decoration') }};
}

h2 {
  color: {{ get_theme_style_setting('typography_group.typography.heading_two.color') }};
  font-family: {{ get_theme_style_setting('typography_group.typography.heading_two.font') }};
  font-size: {{ get_theme_style_setting('typography_group.typography.heading_two.size.value', 'typography_group.typography.heading_two.size.units') }};
  font-style: {{ get_theme_style_setting('typography_group.typography.heading_two.styles.font-style') }};
  font-weight: {{ get_theme_style_setting('typography_group.typography.heading_two.styles.font-weight') }};
  text-decoration: {{ get_theme_style_setting('typography_group.typography.heading_two.styles.text-decoration') }};
}

h3 {
  color: {{ get_theme_style_setting('typography_group.typography.heading_three.color') }};
  font-family: {{ get_theme_style_setting('typography_group.typography.heading_three.font') }};
  font-size: {{ get_theme_style_setting('typography_group.typography.heading_three.size.value', 'typography_group.typography.heading_three.size.units') }};
  font-style: {{ get_theme_style_setting('typography_group.typography.heading_three.styles.font-style') }};
  font-weight: {{ get_theme_style_setting('typography_group.typography.heading_three.styles.font-weight') }};
  text-decoration: {{ get_theme_style_setting('typography_group.typography.heading_three.styles.text-decoration') }};
}

h4 {
  color: {{ get_theme_style_setting('typography_group.typography.heading_four.color') }};
  font-family: {{ get_theme_style_setting('typography_group.typography.heading_four.font') }};
  font-size: {{ get_theme_style_setting('typography_group.typography.heading_four.size.value', 'typography_group.typography.heading_four.size.units') }};
  font-style: {{ get_theme_style_setting('typography_group.typography.heading_four.styles.font-style') }};
  font-weight: {{ get_theme_style_setting('typography_group.typography.heading_four.styles.font-weight') }};
  text-decoration: {{ get_theme_style_setting('typography_group.typography.heading_four.styles.text-decoration') }};
}

h5 {
  color: {{ get_theme_style_setting('typography_group.typography.heading_five.color') }};
  font-family: {{ get_theme_style_setting('typography_group.typography.heading_five.font') }};
  font-size: {{ get_theme_style_setting('typography_group.typography.heading_five.size.value', 'typography_group.typography.heading_five.size.units') }};
  font-style: {{ get_theme_style_setting('typography_group.typography.heading_five.styles.font-style') }};
  font-weight: {{ get_theme_style_setting('typography_group.typography.heading_five.styles.font-weight') }};
  text-decoration: {{ get_theme_style_setting('typography_group.typography.heading_five.styles.text-decoration') }};
}

h6 {
  color: {{ get_theme_style_setting('typography_group.typography.heading_six.color') }};
  font-family: {{ get_theme_style_setting('typography_group.typography.heading_six.font') }};
  font-size: {{ get_theme_style_setting('typography_group.typography.heading_six.size.value', 'typography_group.typography.heading_six.size.units') }};
  font-style: {{ get_theme_style_setting('typography_group.typography.heading_six.styles.font-style') }};
  font-weight: {{ get_theme_style_setting('typography_group.typography.heading_six.styles.font-weight') }};
  text-decoration: {{ get_theme_style_setting('typography_group.typography.heading_six.styles.text-decoration') }};
}

/* Lists */

ul,
ol {
  list-style-position: inside;
  margin: 1.5rem 0;
  padding-left: 0;
}

ul li,
ol li {
  font-size: 1rem;
  line-height: 2;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
  padding-left: 2.8rem;
}

/* Code Blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left-color: {{ get_theme_style_setting('typography_group.typography.body_font.color') }};
  border-left-style: solid;
  border-left-width: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding: 1.4rem 2.8rem;
}

/* Horizontal Rules */

hr {
  background-color: #D0D0D0;
  border: none;
  color: #D0D0D0;
  height: 1px;
}

/* Subscripts and Superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
