<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_area" class="body-container body-container-about", label="Main section" %}

    {# Top Section #}
    {% dnd_section %}
        {% dnd_column %}
            {% dnd_row %}
                {% dnd_module path="@hubspot/header",
                  label="Header",
                  header_tag="h1",
                  value="About Our Company"
                %}
                {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row
                padding={
                    "top": 0,
                    "bottom": 40,
                    "left": 0,
                    "right": 0
                }
            %}
                {% dnd_module 
                    path="@hubspot/linked_image",
                    flexbox_positioning="TOP_CENTER",
                    label="Image",
                    img={
                      "src": get_asset_url("../images/mountains.png"),
                      "alt": "Mountains",
                      "size_type": "auto"
                    }
                %}
                {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
                {% dnd_module path="@hubspot/rich_text", label="Rich text" %}
                    {% module_attribute "html" %}
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque est eros, quis tincidunt nulla ultrices a. Nulla auctor lacus vitae quam facilisis efficitur. Duis sit amet feugiat lacus. Ut varius ipsum quis egestas mattis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque est eros, quis tincidunt nulla ultrices a. Nulla auctor lacus vitae quam facilisis efficitur. Duis sit amet feugiat lacus. Ut varius ipsum quis egestas mattis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque est eros, quis tincidunt nulla ultrices a. Nulla auctor lacus vitae quam facilisis efficitur. Duis sit amet feugiat lacus. Ut varius ipsum quis egestas mattis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque est eros, quis tincidunt nulla ultrices a. Nulla auctor lacus vitae quam facilisis efficitur. Duis sit amet feugiat lacus. Ut varius ipsum quis egestas mattis.</p>
                    </div>
                    {% end_module_attribute %}
                {% end_dnd_module %}
            {% end_dnd_row %}
        {% end_dnd_column %}
    {% end_dnd_section %}

    {# Two Column With Image Left Section #}
      {% dnd_section
        background_color={
          r: 52,
          g: 181,
          b: 229,
          a: 1.0
        }
      %}
        {% dnd_column
          offset=0,
          width=6
        %}
          {% dnd_row %}
            {% dnd_module path="@hubspot/linked_image",
              label="Image",
              img={
                "src": get_asset_url("../images/computer.png"),
                "alt": "Computer and phone",
                "size_type": "auto"
              }    
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
        {% dnd_column 
          offset=6,
          width=6
        %}
          {% dnd_row %}
            {% dnd_module path="@hubspot/rich_text", label="Rich Text" %}
              {% module_attribute "html" %}
                <div>
                  <h2 style="color: #fff;">Full Control</h2>
                  <p style="color: #fff;">Leverage the intuitive super awesome software that saves you time and will rescue your business. Promise.</p>
                  <ul class="alternative-list" style="color: #fff;">
                    <li>Someting awesome here</li>
                    <li>Someting awesome here</li>
                    <li>Someting awesome here</li>
                  </ul>
                </div>
              {% end_module_attribute %}
            {% end_dnd_module %}
          {% end_dnd_row %}
          {% dnd_row %}
            {% dnd_module 
              path="../modules/Customizable button",
              flexbox_positioning="MIDDLE_LEFT",
              label="Button",
              link="#",
              button_text="Free Trial"
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}

    {# Bottom Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module 
            path="@hubspot/rich_text",
            label="Rich text",
            offset=0,
            width=4
          %}
            {% module_attribute "html" %}
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque est eros, quis tincidunt nulla ultrices a. Nulla auctor lacus vitae quam facilisis efficitur. Duis sit amet feugiat lacus. Ut varius ipsum quis egestas mattis.</p>
                <p>Sed sollicitudin, orci non faucibus porta, lectus nisi tristique enim, nec commodo nisi massa non magna. Etiam condimentum mi et neque luctus vestibulum. Maecenas facilisis efficitur semper.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
          {% dnd_module 
            path="@hubspot/rich_text",
            label="Rich text",
            offset=4,
            width=8
          %}
            {% module_attribute "html" %}
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque est eros, quis tincidunt nulla ultrices a. Nulla auctor lacus vitae quam facilisis efficitur. Duis sit amet feugiat lacus. Ut varius ipsum quis egestas mattis. Sed sollicitudin, orci non faucibus porta, lectus nisi tristique enim, nec commodo nisi massa non magna. Etiam condimentum mi et neque luctus vestibulum. Maecenas facilisis efficitur semper.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque est eros, quis tincidunt nulla ultrices a. Nulla auctor lacus vitae quam facilisis efficitur. Duis sit amet feugiat lacus. Ut varius ipsum quis egestas mattis. Sed sollicitudin, orci non faucibus porta, lectus nisi tristique enim, nec commodo nisi massa non magna. Etiam condimentum mi et neque luctus vestibulum. Maecenas facilisis efficitur semper.</p>
              </div>
            {% end_module_attribute %} 
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


  {% end_dnd_area %}
</main>
{% endblock body %}
