<!--
  templateType: blog
  isAvailableForNewContent: true
-->
{% extends './layouts/base.html' %}

{% block body %}
<div class="content-wrapper">
  <div class="blog-post">
    <div class="blog-post__header">
        <div class="blog-post__header__tags">
          {% icon name="tag" style="SOLID" %}
          {% for tag in content.tag_list %}
            <a class="blog-post__header__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
          {% endfor %}
        </div>
      <h1>{{ content.name }}</h1>
      {% if content.blog_author.avatar %}
        <div class="blog-post__header__author-image" style="background-image: url('{{ content.blog_author.avatar }}');"></div>
      {% endif %}
      <a class="blog-post__header__author-name" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a>
    </div>
    <div class="blog-post__body">
      {{ content.post_body }}
    </div>
  </div>
  <div class="blog-comments">
    {% module "blog_comments" path="@hubspot/blog_comments", label="Blog Comments" %}
  </div>
</div>
{% endblock body %}