<!--
  templateType: blog
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <div class="body-container body-container-blog-post">

    {% module "blog_post_banner"
      path="../modules/Blog Post Banner",
      label="Blog Post Banner",
      background_image={
        "src": get_asset_url("../images/blog-post-banner.png")
      }
    %}

    <div class="content-wrapper">
      <div class="blog-post">
        <div class="blog-post__header">
            <h2 class="blog-post__title">{{ content.name }}</h2>
            {% if content.blog_author.avatar %}
              <div class="blog-post__author-image" style="background-image: url('{{ content.blog_author.avatar }}');"></div>
            {% endif %}
            <div class="blog-post__meta">
                <a class="blog-post__author-name" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a>
                <span class="blog-post__date">{{ content.publish_date_localized }}</span>
            </div>
            <div class="blog-post__tags">
                {% icon name="tag" style="SOLID" %}
                {% for tag in content.tag_list %}
                  <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
          </div>
        <div class="blog-post__body">
          {{ content.post_body }}
          {% module "blog_post_social_share" path="@hubspot/social_sharing", label="Social Sharing" %}
        </div>
      </div>
      <div class="blog-post__comments">
          <a class="blog-comments__toggle hs-button">View Comments</a>
          <div class="blog-comments__listing">
              {% module "blog_comments" path="@hubspot/blog_comments", label="Blog Comments" %}
          </div>
      </div>
    </div>

    <div class="blog-cta">
      {% module "blog_cta" 
        path="../modules/Blog CTA", 
        label="Blog CTA",
        background_color={
          "color": "#34b5e5"
        },
        image={
          "src": get_asset_url("../images/phone.png")
        },
        content="<h2 style='color: #fff;'>Download Perfect Today!</h2><p style='color: #fff;'>Leverage the intuitive super awesome software that saves you time and will rescue your business. Promise.</p>",
        cta_field="782d9df3-4dc5-44dc-81ad-a0efffcf0cb2"
      %}
    </div>

    <div class="blog-related-posts">
      {% module "blog_related_posts" path="../modules/Blog Related Posts", label="Blog Related Posts" %}
    </div>

  </div>
</main>
{% endblock body %}