<!--
  templateType: blog
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <div class="body-container body-container-blog">
    <div class="blog-header">
        <div class="blog-header__inner">
            <h1 class="blog-header__title">{{ group.public_title }}</h1>
        </div>
    </div>
    <div class="content-wrapper">
      <div class="blog-index">
        {% for content in contents %}
            <div class="blog-card">
              <div class="blog-card__header">
                <h2 class="blog-card__header__title"><a href="{{ content.absolute_url }}">{{ content.name }}</a></h2>
                {% if content.blog_author.avatar %}
                  <div class="blog-card__header__author-image" style="background-image: url('{{ content.blog_author.avatar }}');"></div>
                {% endif %}
                <a class="blog-card__header__author-name" href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{ content.blog_post_author.display_name }}</a>
              </div>
              {% if content.featured_image %}
                <a class="blog-card__image" style="background-image: url('{{ content.featured_image }}')"; href="{{ content.absolute_url }}"></a>
              {% endif %}
              <div class="blog-card__content">
                <div class="blog-card__content__tags">
                    {% icon name="tag" style="SOLID" %}
                    {% for tag in content.tag_list %}
                      <a class="blog-card__content__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                {{ content.post_list_content|truncatehtml(170) }}
                <a class="hs-button" href="{{ content.absolute_url }}">Read More</a>
              </div>
            </div>
        {% endfor %}
      </div>
      {% if contents.total_page_count > 1 %}
        <div class="blog-pagination">
          {% set page_list = [-2, -1, 0, 1, 2] %}
          {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
          {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
          {% elif current_page_num == 2 %}{% set offset = 1 %}
          {% elif current_page_num == 1 %}{% set offset = 2 %}
          {% else %}{% set offset = 0 %}{% endif %}

          <a class="blog-pagination__link blog-pagination__prev-link {{ "blog-pagination__prev-link--disabled" if !last_page_num }}" href="{{ blog_page_link(last_page_num) }}">
            {% icon name="chevron-left" style="SOLID", width="13", no_wrapper=True %}
            {% icon name="chevron-left" style="SOLID", width="13", no_wrapper=True %}
            Prev
          </a>
          {% for page in page_list %}
            {% set this_page = current_page_num + page + offset %}
            {% if this_page > 0 and this_page <= contents.total_page_count %}
              <a class="blog-pagination__link blog-pagination__number-link {{ "blog-pagination__link--active" if this_page == current_page_num }}" href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
            {% endif %}
          {% endfor %}
          <a class="blog-pagination__link blog-pagination__next-link {{ "blog-pagination__next-link--disabled" if !next_page_num }}" href="{{ blog_page_link(current_page_num + 1) }}">
            Next
            {% icon name="chevron-right" style="SOLID", width="13", no_wrapper=True %}
            {% icon name="chevron-right" style="SOLID", width="13", no_wrapper=True %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock body %}