<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">

  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}

    {# Banner Section #}
    {% dnd_section
      background_image={
        'backgroundPosition': 'TOP_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/home-banner.png')
      },
      max_width=760,
      padding={
        'top': 200,
        'right': 20,
        'bottom': 400,
        'left': 20
      },
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div style="text-align: center; color: #ffffff; line-height: 1;">
                <h1 style="font-size: 72px; font-weight: bold; color: #ffffff;">Smart Decisions</h1>
                <h2 style="font-size: 36px; color: #ffffff;">start with</h2>
                <h1 style="font-size: 72px; font-weight: bold; color: #ffffff;">Smart Data</h1>
                <p style="font-size: 24px; line-height: 1.5;">&nbsp;</p>
                <p style="font-size: 24px; line-height: 1.5; color: #ffffff;">Our experts do the analysis.<br>You make the decisions.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/cta',
            horizontal_alignment='CENTER'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# Two-Column Testimonial Section #}
    {% dnd_section
      max_width=1024,
      background_image={
        'backgroundPosition': 'TOP_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/testimonial-banner.jpg')
      }
    %}
      {% dnd_column
        offset=0,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div>
                <h3 style="text-align: right; color: #fff;">“Biglytics has helped us to better understand our buyer personas and behaviors. As a result - after 6 years - we made it from start-up to scale-up.”</h3>
                <p style="text-align: right; color: #fff;"><b>Bryan Cooper,</b><br>CEO,SCP</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/linked_image',
            img={
              'alt': 'Computer and phone',
              'size_type': 'auto',
              'src': get_asset_url('../images/bryan.png')
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Two Column With Image Left Section #}

    {# Three Column Feature Section #}
    {% dnd_section
      max_width=1024
    %}
      {% dnd_column %}
        {% dnd_row
          padding={
            'top': 0,
            'right': 0,
            'bottom': 45,
            'left': 0
          }
        %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div style="text-align: center;">
                <h3>In today’s dynamic environment, data driven decisions are everything.</h3>
                <h1 style="font-weight: bold;">But how do you make the right decision?</h1>
                <h3>Biglytics helps you analyze your data, compare it with over twenty industries and derive actionable insights. For the first time, the power of big data is at the fingertips of the mid-market.</h3>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Three Column Feature Section #}


    {# Whitepaper Section #}
    {% dnd_section
      full_width=true,
      padding={
        'right': 0,
        'bottom': 0,
        'left': 0
      },
      margin={
        'left': 0
      },
      background_image={
        'backgroundPosition': 'TOP_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/ebook-background.jpg')
      }
    %}
      {% dnd_column %}
        {% dnd_row
          padding={
            'top': 0,
            'right': 0,
            'bottom': 0,
            'left': 0
          },
          margin={
            'left': 0
          },
        %}
          {% dnd_module
            path='@hubspot/image',
            horizontal_alignment='LEFT',
            offset=0,
            img={
              'src': get_asset_url('../images/whitepaper.png'),
              'size_type': 'auto'
            }
          %}
            {% module_attribute 'html' %}
              <div style="text-align: center;">
                <h2 style="color: #fff;">What People Are Saying</h2>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Testimonial Section #}

    {# Logo Section #}
    {% dnd_section %}
      {% dnd_module
        path='@hubspot/linked_image',
        horizontal_alignment='CENTER',
        offset=1,
        img={
          'alt': 'Sample logo',
          'size_type': 'auto',
          'src': get_asset_url('../images/logos/aiming-technologies.png'),
          'width': '151'
        },
        width=2
      %}
      {% end_dnd_module %}
      {% dnd_module
        path='@hubspot/linked_image',
        horizontal_alignment='CENTER',
        offset=3,
        img={
          'alt': 'Sample logo',
          'size_type': 'auto',
          'src': get_asset_url('../images/logos/cross.png'),
          'width': '151'
        },
        width=2
      %}
      {% end_dnd_module %}
      {% dnd_module
        path='@hubspot/linked_image',
        horizontal_alignment='CENTER',
        offset=5,
        img={
          'alt': 'Sample logo',
          'size_type': 'auto',
          'src': get_asset_url('../images/logos/infiniteflame.png'),
          'width': '151'
        },
        width=2
      %}
      {% end_dnd_module %}
      {% dnd_module
        path='@hubspot/linked_image',
        horizontal_alignment='CENTER',
        offset=7,
        img={
          'alt': 'Sample logo',
          'size_type': 'auto',
          'src': get_asset_url('../images/logos/magento.png'),
          'width': '151'
        },
        width=2
      %}
      {% end_dnd_module %}
      {% dnd_module
        path='@hubspot/linked_image',
        horizontal_alignment='CENTER',
        offset=9,
        img={
          'alt': 'Sample logo',
          'size_type': 'auto',
          'src': get_asset_url('../images/logos/setra.png'),
          'width': '151'
        },
        width=2
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {# End Logo Section #}

    {# Form section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/form',
            horizontal_alignment='CENTER',
            title='Download our FREE eBook to get started with Big Data decisions today!'
          %}
            {% module_attribute 'form_id' %}
              {# ddg:info_form_id #}
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


  {% end_dnd_area %}
</main>
{% endblock body %}
