<!--
  templateType: page
  isAvailableForNewContent: true
  label: "[Demo Web] Biglytics Pillar Page"
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--pillar', label='Main section' %}

    {# Banner Section #}
    {% dnd_section
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/hero-bg-desktop.png')
      },
      max_width=760,
      padding={
        'top': 135,
        'right': 20,
        'bottom': 135,
        'left': 20
      },
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div style="text-align: center">
                <h1 style="color: #fff; margin-bottom: 0;">What You Need to Know Before Investing in Big Data</h1>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# Top Content Section #}
    {% dnd_section %}
      {% dnd_column
        offset=0,
        width=8
      %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div>
                <p>In today’s dynamic environment, data driven decisions are everything. But how do you make the right decision? Large corporations have the resources to invest in cutting edge tools that give them an advantage over their competition. But where does that leave smaller businesses?</p>
                <p>Regardless of the size of your company, big data can be a key tool to helping you succeed against your competition. Some of the benefits of big data include increasing efficiency, improving productivity, and lowering costs. Before investing in big data, it's important to have a plan. Read more below on how you can start using big data for your business.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=8,
        width=4
      %}
        {% dnd_row %}
          {% dnd_module
            path='../modules/pillar-menu',
            horizontal_alignment='LEFT'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Top Content Section #}

    {# First Pillar Chapter #}
    {% dnd_section
      background_color={{ theme.color.secondary.color }}
    %}
      {% dnd_column %}
        {% dnd_row %}
        {% dnd_column
            offset=0,
            width=4
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/linked_image',
                img={
                  'alt': 'A woman typing on a computer',
                  'size_type': 'auto',
                  'src': get_asset_url('../images/pillar-one.jpg')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=4,
            width=8
          %}
            {% dnd_row %}
              {% dnd_module
                path='../modules/pillar-section-title',
                horizontal_alignment='LEFT',
                override_default_style=true,
                title='What is Big Data?'
              %}
              {% module_attribute 'style' is_json=True %}
                {
                  "color": {
                    "color": "#ffffff",
                    "opacity": "100"
                  }
                }
              {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <div>
                    <p style="color: #fff;">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                    <p style="color: #fff;">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                    <p style="color: #fff;">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    <p style="color: #fff;">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End First Pillar Chapter #}

    {# Second Pillar Chapter #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=8
          %}
            {% dnd_row %}
              {% dnd_module
                path='../modules/pillar-section-title',
                horizontal_alignment='LEFT',
                title='Big Data Applications'
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <div>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                    <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=8,
            width=4
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/linked_image',
                img={
                  'alt': 'Notebook with to do list',
                  'size_type': 'auto',
                  'src': get_asset_url('../images/pillar-two.jpg')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Second Pillar Chapter #}

    {# Third Pillar Chapter #}
    {% dnd_section
      background_color={{ theme.color.secondary.color }}
    %}
      {% dnd_column %}
        {% dnd_row %}
        {% dnd_column
            offset=0,
            width=4
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/linked_image',
                img={
                  'alt': 'Two women working on a project on a computer',
                  'size_type': 'auto',
                  'src': get_asset_url('../images/pillar-three.jpg')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=4,
            width=8
          %}
            {% dnd_row %}
              {% dnd_module
                path='../modules/pillar-section-title',
                horizontal_alignment='LEFT',
                override_default_style=true,
                title='Industries Benefitting from the Big Data Boom'
              %}
              {% module_attribute 'style' is_json=True %}
                {
                  "color": {
                    "color": "#ffffff",
                    "opacity": "100"
                  }
                }
              {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <div>
                    <p style="color: #fff;">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                    <p style="color: #fff;">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <p style="color: #fff;">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    <p style="color: #fff;">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Third Pillar Chapter #}

    {# Fourth Pillar Chapter #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=8
          %}
            {% dnd_row %}
              {% dnd_module
                path='../modules/pillar-section-title',
                horizontal_alignment='LEFT',
                title='Tracking Results with Big Data Analytics'
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <div>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                    <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=8,
            width=4
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/linked_image',
                img={
                  'alt': 'A paper with charts and graphs',
                  'size_type': 'auto',
                  'src': get_asset_url('../images/pillar-four.jpg')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Fourth Pillar Chapter #}

    {# Fifth Pillar Chapter #}
    {% dnd_section
      background_color={{ theme.color.secondary.color }}
    %}
      {% dnd_column %}
        {% dnd_row %}
        {% dnd_column
            offset=0,
            width=4
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/linked_image',
                img={
                  'alt': 'Five people in a meeting with sticky notes',
                  'size_type': 'auto',
                  'src': get_asset_url('../images/our-values.jpg')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=4,
            width=8
          %}
            {% dnd_row %}
              {% dnd_module
                path='../modules/pillar-section-title',
                horizontal_alignment='LEFT',
                override_default_style=true,
                title='Getting Started with Big Data'
              %}
              {% module_attribute 'style' is_json=True %}
                {
                  "color": {
                    "color": "#ffffff",
                    "opacity": "100"
                  }
                }
              {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <div>
                    <p style="color: #fff;">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                    <p style="color: #fff;">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <p style="color: #fff;">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    <p style="color: #fff;">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Fifth Pillar Chapter #}

    {# Sixth Pillar Chapter #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=8
          %}
            {% dnd_row %}
              {% dnd_module
                path='../modules/pillar-section-title',
                horizontal_alignment='LEFT',
                title='Additional Big Data Resources'
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <div>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                    <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=8,
            width=4
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/linked_image',
                img={
                  'alt': 'Two people looking at a computer',
                  'size_type': 'auto',
                  'src': get_asset_url('../images/our-mission.jpg')
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Sixth Pillar Chapter #}

    {# Bottom Offer Section #}
    {% dnd_section
      background_color={{ theme.color.secondary.color }}
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <h2 style="color: #FFFFFF;">Download Our Free Ebook
                  <h2 style="color: #F8AC1C;">How to Gain a Competitive Advantage Using Market Analysis</h2>
                  </h2>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/rich_text'
              %}
                {% module_attribute 'html' %}
                  <div>
                    <p style="color: #FFFFFF;">Discover 10 ways that you can use Big Data to help maximize profits. This includes:</p>
                    <ul style="color: #FFFFFF;">
                      <li>Data Empowerment - Use data to your advantage to out-match your competitors</li>
                      <li>Gain Intelligence - Use valuable insights to power informed business decisions</li>
                      <li>Value - Turn bigger profits faster using data science decisions</li>
                    </ul>
                  </div>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path='@hubspot/form'
              %}
                {% module_attribute "form" is_json=True %}
                  {
                    "form_id": "{# ddg:info_form_id #}",
                    "response_type": "inline",
                    "message": "Thanks!",
                    "form_type": "HUBSPOT",
                    "gotowebinar_webinar_key": null
                  }
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Bottom Offer Section #}

  {% end_dnd_area %}
</main>
{% endblock body %}