<!--
  templateType: page
  isAvailableForNewContent: true
  label: QA Page
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_area" class='body-container body-container__qa-page', label='Main section' %}

    {# Sample Content Section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
            {% module_attribute "html" %}
              <h1>Here is where a main heading goes.</h1>
              <h2>Here is where a main heading goes.</h2>
              <h3>Here is where a main heading goes.</h3>
              <h4>Here is where a main heading goes.</h4>
              <h5>Here is where a main heading goes.</h5>
              <h6>Here is where a main heading goes.</h6>
              <p>Lorem ipsum dolor sit amet, consectetur <em>adipiscing elit</em>. Duis porttitor, quam vel <strong>dignissim</strong> tincidunt, odio libero porta ligula, vitae fermentum lacus libero vel risus. Aenean pulvinar nisl et <a href="#">vestibulum commodo</a>. Quisque euismod tempus dignissim. Quisque dictum luctus velit, eu viverra urna tristique non. Vivamus at dolor tellus. Cras congue sapien non turpis dapibus, et vestibulum ante ultrices. Mauris eu nisi non sapien fermentum fermentum in eu odio. Fusce congue elit et tortor sagittis, sit amet auctor risus sagittis.</p>
              <p>This text contains <sub>subscript</sub> text.</p>
              <p>This text contains <sup>superscript</sup> text.</p>
              <p>This text contains <code>code</code>.</p>
              <p>This text contains <small>small</small> text.</p>
              <p>This text contains <mark>highlighted</mark> text</p>
              <pre><code>.test-class { background-color: #FFF; }</code></pre>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              </ul>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              </ol>
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor, quam vel dignissim tincidunt, odio libero porta ligula, vitae fermentum lacus libero vel risus. Aenean pulvinar nisl et vestibulum commodo. Quisque euismod tempus dignissim.</blockquote>
              <hr>
              <button class="button">Button</button>
              <button class="button button--secondary">Button</button>
              <table>
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>State</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <td>HubSpot</td>
                  <td>Brian Halligan</td>
                  <td>Massachusetts</td>
                </tr>
                <tr>
                  <td>LL Bean</td>
                  <td>Leon Leonwood Bean</td>
                  <td>Maine</td>
                </tr>
                <tr>
                  <td>Google</td>
                  <td>Sundar Pichai</td>
                  <td>California</td>
                </tr>
                <tr>
                  <td>TJX</td>
                  <td>Carol M. Meyrowitz</td>
                  <td>Massachusetts</td>
                </tr>
                </tbody>
                  <tfoot>
                    <tr>
                      <td>4 Different Companies</td>
                      <td>4 Different Executives</td>
                      <td>3 Different States</td>
                    </tr>
                  </tfoot>
              </table>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/form" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Sample Content Section #}


  {% end_dnd_area %}
</main>
{% endblock body %}