<!--
  templateType: page
  isAvailableForNewContent: true
  label: Services
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about', label='Main section' %}

    {# Banner Section #}
    {% dnd_section
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/hero-bg-desktop.png')
      },
      max_width=760,
      padding={
        'top': 135,
        'right': 20,
        'bottom': 135,
        'left': 20
      },
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div style="text-align: center">
                <h3 style="color: #fff">In today’s dynamic environment, data driven decisions are everything.</h3>
                <h1 style="color: #fff">But what’s the right decision?</h1>
                <p style="color: #fff">Since 2008, Biglytics has been helping clients make more
                  informed business decisions by producing world class industry research reports,
                  coupled with on demand business level data analysis - helping customers to turn
                  big data into big decisions.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# About Section #}
    {% dnd_section
      max_width=760
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <div>
                <p style="font-size: 1.2rem;">Biglytics’ world renowned Research Department produces quarterly reports that hundreds of leading medium size business executives count on to understand trends, breakthroughs and new learnings about their industry.</p>
                <p style="font-size: 1.2rem;">Biglytics’ team of experienced data scientists are on-demand to integrate our data with your unique business data, to form actionable insights that previously would have gone unrealized. Biglytics is continually helping business to shape their communication practices, rethink their marketing plans, enhance their financial strategies and improve operations.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End About Section #}

    {# Integrate Section #}
    {% dnd_section
      padding={
        'top': 100,
        'bottom': 100
      },
      vertical_alignment='MIDDLE',
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/services-integrate2-desktop.jpg')
      }
    %}
      {% dnd_column
        offset=0,
        width=5
      %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            style={ "padding": "60px" }
          %}
            {% module_attribute 'html' %}
              <div style="background-color: black; padding: 60px; text-align: right;">
                <h2 style="color: #fff;">Integrate</h2>
                <p style="color: #fff;">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Integrate Section #}

    {# Analyze Section #}
    {% dnd_section
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/services-analyze-desktop.png')
      }
    %}
      {% dnd_column
        offset=0,
        width=5
      %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            style={ "padding": "60px" }
          %}
            {% module_attribute 'html' %}
              <div style="background-color: black; padding: 60px; text-align: right;">
                <h2 style="color: #fff;">Analyze</h2>
                <p style="color: #fff;">Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Our Values Section #}

    {# Learn Section #}
    {% dnd_section
      padding={
        'top': 100,
        'bottom': 100
      },
      vertical_alignment='MIDDLE',
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/services-integrate2-desktop.jpg')
      }
    %}
      {% dnd_column
        offset=0,
        width=5
      %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            style={ "padding": "60px" }
          %}
            {% module_attribute 'html' %}
              <div style="background-color: black; padding: 60px; text-align: right;">
                <h2 style="color: #fff;">Learn</h2>
                <p style="color: #fff;">Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Learn Section #}

  {% end_dnd_area %}
</main>
{% endblock body %}
