.social-links {
  border: 2px solid #1e2b33;
  border-radius: 4px;
  display: inline-block;
}

.social-links__icon {
  background-color: transparent;
  border-right: 2px solid #1e2b33;
  box-sizing: border-box;
  float: left;
  height: 40px;
  padding: 10px;
  text-align: center;
  width: 42px;
}

.social-links__icon:last-child {
  border-right: 0;
  width: 40px;
}

.social-links__icon svg {
  fill: #1e2b33;
  height: 15px;
  width: auto;
}

.social-links__icon:hover {
  background-color: #1e2b33;
}

.social-links__icon:hover svg {
  fill: #ffffff;
}