.statistic {
  text-align: center; 
}
.statistic-circle *, 
.statistic-circle *:before, 
.statistic-circle *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.statistic-circle {
  border-radius: 50%;
  float: none;
  font-size: 150px;
  height: 1em;
  margin: 0 auto 20px;
  position: relative;
  width: 1em;
}
.statistic-circle > .statistic-info {
  display: block;
  font-size: 0.3em;
  left: 0;
  line-height: 3.3em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 5em;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}
.statistic-circle > .statistic-info .unit {
  font-size: 0.6em; 
}
.statistic-circle .slice {
  clip: rect(0em, 1em, 1em, 0.5em);
  height: 1em;
  position: absolute;
  width: 1em;
}
.statistic-circle .slice.large {
  clip: rect(auto, auto, auto, auto);
}
.statistic-circle .bar,
.statistic-circle .large .fill {
  border-radius: 50%;
  border-width: 0.08em;
  border-style: solid;
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
  height: 0.84em;
  position: absolute;
  width: 0.84em;
}
.statistic-circle .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); 
}
.statistic-circle::after {
  border-radius: 50%;
  content: " ";
  display: block;
  height: 0.96em;
  left: 0.02em;
  position: absolute;
  top: 0.02em;
  width: 0.96em;
}