<!--
  templateType: global_partial
  label: Blog subscription
-->
<section class="blog-subscription">
  <div class="blog-subscription-container">
    <div class="row-fluid span12">
        <div class="blog-subscription-text column span6">
            {% module "blog_subscription_text" path="@hubspot/text", label="Text", value="Get News and Updates About Perfect." %}
        </div>
        <div class="blog-subscription-form column span6">
            {% module "blog_subscription_form" path="@hubspot/form", label="Blog Subscription Form" %}
        </div>
    </div>
  </div>
</header>