<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="footer__container">

    {# Footer Top Section #}
    <div class="footer__top-section">
      <div class="row-fluid span12">

          {# Logo and Social Follow Column #}
          <div class="column span12">

            {# Logo #}
            <div class="footer__logo">
              {% module 'footer_logo'
                path='@hubspot/logo',
                img={
                  'alt': 'Biglytics logo',
                  'height': '82',
                  'override_inherited_src': true,
                  'src': get_asset_url('../../images/biglytics-logo.png'),
                  'width': '205'
                }
              %}
            </div>
            {# End Logo #}
          </div>
      </div>

      <div class="row-fluid span12">
        <div class="footer__nav-section">
          {% module 'header_navigation_primary'
            label='Primary navigation',
            path='../../modules/menu-section'
          %}
        </div>
      </div>

      <div class="row-fluid span12">
          <div class="column span12">
            {# Social Follow #}
            <div class="footer__follow-me">
              {% module_block module 'footer_social'
                path='../../modules/social-follow',
                override_default_style=true,
                social_links=[
                  {
                    'social_account': 'facebook-f',
                    'accessibility': {
                      'title': 'Follow us on Facebook'
                    }
                  },
                  {
                    'social_account': 'linkedin-in',
                    'accessibility': {
                      'title': 'Follow us on LinkedIn'
                    }
                  },
                  {
                    'social_account': 'twitter',
                    'accessibility': {
                      'title': 'Follow us on Twitter'
                    }
                  },
                  {
                    'social_account': 'instagram',
                    'accessibility': {
                      'title': 'Follow us on Instagram'
                    }
                  }
                ]
              %}
                {% module_attribute 'style' is_json=True %}
                  {
                    "social_icon_color": {
                      "color": "#ffffff",
                      "opacity": "100"
                    },
                    "social_icon_bg_color": {
                      "color": "#1e2b33",
                      "opacity": "0"
                    }
                  }
                {% end_module_attribute %}
              {% end_module_block %}
            </div>
            {# End Social Follow #}

          </div>
          {# End Logo and Social Follow Column #}

      </div>
    </div>
    {# End Footer Top Section #}

    {# Footer Bottom Section #}
    <div class="footer footer__bottom-section">
      <div class="row-fluid span12">
        <div class="column span3"></div>
        <div class="column span6">

          {# Copyright #}
          {% module 'footer_copyright'
            label='Copyright',
            path='@hubspot/text',
            value='Copyright © {{ year }}, HubSpot, Inc.'
          %}
          {# End Copyright #}

          <div>
            Biglytics is a fictional company used for demo and training purposes by <a href="https://www.hubspot.com/">HubSpot</a>.
            You shouldn't rely on the information on this site.
            Use of this site is subject to HubSpot's <a href="https://legal.hubspot.com/website-terms-of-use">Terms of Use</a> and <a href="https://legal.hubspot.com/privacy-policy">Privacy Policy</a>.
          </div>
        </div>
      </div>
    </div>
    {# End Footer Bottom Section #}

  </div>
</footer>
