<!--
  templateType: global_partial
  label: Header no navigation
-->
<header class="header header--no-navigation">
  <div class="header__container">

    {# Logo #}
    <div class="header__logo">
      {% module 'header_logo'
        path='@hubspot/logo',
        img={
          'alt': 'Biglytics logo',
          'height': '82',
          'override_inherited_src': true,
          'src': get_asset_url('../../images/biglytics-logo.png'),
          'width': '205'
        }
      %}
    </div>
    {# End Logo #}

  </div>
</header>