<!--
  templateType: global_partial
  label: Page header
-->
<header class="header">
  <div class="header-container">
    <div class="row-fluid span12">
        <div class="header-logo column span3">
            {% module "header_logo" path="@hubspot/logo", label="Logo" %}
        </div>
        <div class="header-menu column span9">
            <input type="checkbox" id="nav-toggle">
            <label class="header-navigation-toggle" for="nav-toggle"></label>
            <div class="header-navigation">
              {% module "header_navigation_primary" path="../../modules/Menu section", label="Primary Navigation" %}
            </div>
        </div>
    </div>
  </div>
</header>
