<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">
  <div class="header__container">

    {# Logo #}
    <div class="header__logo">
      {% set link = request.scheme ~ "://" ~ request.domain ~ "/biglytics-home" %}
      {% module "header_logo"
        path="@hubspot/logo",
        link={{ link }},
        img={
          "override_inherited_src": true,
          "src": get_asset_url("../../images/biglytics-logo.png"),
          "alt": "Biglytics",
          "width": 205,
          "height": 82
        }
      %}
    </div>
    <div>
    </div>
    {# End Logo #}

    {# Main Navigation #}
    <div class="header__menu">
        <input type="checkbox" id="nav-toggle">
        <label class="header__navigation-toggle" for="nav-toggle">
          <span class="header__mobile-menu-icon"></span>
        </label>
        <div class="header__navigation">
          {% module 'header_navigation_primary'
            label='Primary navigation',
            path='../../modules/menu-section'
          %}
        </div>
    </div>
    {# End Main Navigation #}

    {# Language Toggle #}
    {% if content.translated_content|length %}
      <div class="header__language-switcher">
        <div class="header__language-switcher-label">
          {% module 'language-switcher'
            label='Language switcher',
            path='@hubspot/language_switcher',
            display_mode='localized'
          %}
          <div class="header__language-switcher-label-current"> {{ locale_name(locale) }}</div>
        </div>
      </div>
    {% endif %}
    {# End Language Toggle #}

  </div>
</header>
