.feature {
    padding: 0px 20px; 
    text-align: center; 
}

.feature .icon > span {
    border-radius: 100%; 
    border-width: 1px;
    border-style: solid;
    display: block; 
    height: 100px; 
    margin: 0px auto 20px; 
    width: 100px; 
}

.feature .icon svg {
    box-sizing: border-box; 
    height: 100px;
    padding: 20px; 
    width: 100px; 
}
