.navigation-primary {
  display: inline-block;
  float: right; 
}

.navigation-primary a {
  font-weight: 400;
  letter-spacing: 0.1em; 
}

.navigation-primary a.active-item {
  position: relative;
}

.navigation-primary .submenu.level-1 > li > a.active-item:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
}

.navigation-primary .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-primary .submenu a,
.navigation-primary .submenu p {
  text-decoration: none;
}

.hs-menu-item:hover a,
.hs-menu-item:focus a {
  text-decoration: none;
} 

.submenu-toggle {
  display: none;
}

.submenu {
  float: none; 
}

.submenu.level-1 {
  display: inline-block;
}

.submenu.level-1 > li {
  display: inline-block;
  margin-right: 30px; 
  position: relative; 
  text-transform: uppercase;
}

.submenu.level-1 > li:last-child {
  margin-right: 0px; 
}

.submenu.level-2 {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px; 
  left: 0; 
  opacity: 0; 
  position: absolute; 
  top: 100%; 
  transition: visibility 0s, opacity 0.3s;
  visibility: hidden; 
  width: 220px; 
  z-index: 2; 
}

.submenu.level-2 > li {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.submenu.level-2 .menu-item .menu-link {
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.submenu.level-2 > li:last-child,
.submenu.level-2 > li:last-child .submenu {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}

.submenu.level-2 .menu-item .menu-link:hover,
.submenu.level-2 .menu-item .menu-link:focus {
  cursor: pointer;
  transition: background-color 0.3s;
}

.submenu.level-3 .menu-item .menu-link {
  padding-left: 60px;
}

.submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.submenu.level-1 > li.has-submenu.focus .submenu.level-2 {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s;
}

/* Hide navigation dropdown in the inline editor */
.hs-inline-edit .submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.hs-inline-edit > li.has-submenu.focus .submenu.level-2 {
  visibility: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .submenu.level-1 > li {
    margin-right: 20px; 
  }
}

@media (max-width: 767px) {
  .navigation-primary {
    display: block;
    float: none; 
  }

  .navigation-primary .submenu.level-1 > li > a.active-item:after {
    display: none;
  }

  .submenu > li > a {
    display: block;
    width: 100%;
  }

  .submenu > .has-submenu {
    position: relative;
  }

  .submenu > .has-submenu > a {
    width: 70%;
  }

  .submenu {
    display: none;
  }

  .submenu.level-1 {
    width: 100%;
  }

  .submenu.level-1 > li {
    display: block;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 0;
  }

  .submenu.level-1 > li > a {
    padding: 7px 30px;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow,
  .submenu > .has-submenu > .menu-arrow,
  .submenu .menu-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 13px 0;
    width: 30%;
    border: none;
    cursor: pointer;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow-bg,
  .submenu > .has-submenu > .menu-arrow-bg,
  .submenu .menu-arrow-bg {
    display: block;
    height: 20px; 
    width: 20px;
    margin-left: auto;
    margin-right: 30px;
    transition: transform 0.4s;
  }

  input[type="checkbox"]:checked ~ .submenu {
    display: block;
  }

  input[type="checkbox"]:checked ~ .menu-arrow .menu-arrow-bg {
    transform: rotate(45deg);
    transition: transform 0.4s;
  }

  .submenu.level-2 {
    position: static;
    visibility: visible;
    opacity: 1;
    width: 100%;
    border: none;
    box-shadow: none;
    transform: unset;
  }

  .submenu.level-2 .menu-item {
    padding: 0;
    border-top-width: 1px; 
    border-top-style: solid; 
    border-bottom: none;
  }

  .submenu.level-2 .menu-item .menu-link {
    padding: 7px 60px;
  }

  .submenu.level-2 .menu-item .menu-link:hover {
    background-color: inherit;
  }

  .submenu.level-3 {
    width: 100%;
    background-color: inherit;
    padding: 0;
    margin: 0;
  }

  .submenu.level-3 > li {
    padding: 0;
    background-color: inherit;
  }

  .submenu.level-3 .menu-item .menu-link {
    padding: 7px 90px;
  }
}
