/* Navigation Theme Styles */

.navigation-primary a {
    color: #FFF;
}

.navigation-primary a:hover,
.navigation-primary a:focus,
.navigation-primary a:active {
    color: #FFF;
}

.navigation-primary .submenu.level-1 > li > a.active-item:after {
    background-color: #FFF;
}

.submenu.level-2 {
    background-color: #34B5E5;
    border-color: #D0D0D0;
}

.submenu.level-2 > li {
    border-bottom-color: #D0D0D0;
}

.submenu.level-2 .menu-item .menu-link:hover,
.submenu.level-2 .menu-item .menu-link:focus {
    background-color: #C168C2;
    color: #FFF;
}

@media(max-width: 767px) {
    .header__navigation {
        background-color: #34B5E5;
    }

    .header__mobile-menu-icon,
    .header__mobile-menu-icon:after,
    .header__mobile-menu-icon:before {
        background-color: #FFF;
    }

    .menu-arrow-icon,
    .menu-arrow-icon:after {
        background-color: #FFF;
    }

    .submenu.level-1 > li {
        border-top-color: #D0D0D0;
    }

    .submenu.level-2 .menu-item {
        border-top-color: #D0D0D0;
    }
}




/* Navigation Wrapper */

.navigation-primary {
  display: inline-block;
  float: right;
}

@media(max-width: 767px) {
  .navigation-primary {
    display: block;
    float: none;
  }
}

/* Menu Item Styles */

.navigation-primary a {
  font-weight: 400;
  letter-spacing: 0.1em;
}

/* Active Menu Item Styles */

.navigation-primary a.active-item {
  position: relative;
}

.navigation-primary .submenu.level-1 > li > a.active-item:after {
  bottom: -3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  .navigation-primary .submenu.level-1 > li > a.active-item:after {
    display: none;
  }
}

/* Submenus */

.submenu {
  float: none;
}

@media (max-width: 767px) {
  .submenu {
    display: none;
  }
}

.submenu-toggle {
  display: none;
}

.navigation-primary .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-primary .submenu a,
.navigation-primary .submenu p {
  text-decoration: none;
}

.submenu.level-1 {
  display: inline-block;
}

@media (max-width: 767px) {
  .submenu.level-1 {
    width: 100%;
  }
}

.submenu.level-1 > li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .submenu.level-1 > li {
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .submenu.level-1 > li {
    margin-right: 20px;
  }
}

.submenu.level-1 > li:last-child {
  margin-right: 0;
}

.submenu.level-2 {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -o-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
  visibility: hidden;
  width: 220px;
  z-index: 2;
}

@media (max-width: 767px) {
  .submenu.level-2 {
    border: none;
    box-shadow: none;
    opacity: 1;
    position: static;
    visibility: visible;
    -webkit-transform: unset;
      -ms-transform: unset;
        transform: unset;
    width: 100%;
  }
}

.submenu.level-2 > li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 0;
}

.submenu.level-2 .menu-item .menu-link {
  display: block;
  padding: 10px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.submenu.level-2 > li:last-child,
.submenu.level-2 > li:last-child .submenu {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}

.submenu.level-2 .menu-item .menu-link:hover,
.submenu.level-2 .menu-item .menu-link:focus {
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.submenu.level-3 .menu-item .menu-link {
  padding-left: 60px;
}

.submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.submenu.level-1 > li.has-submenu.focus .submenu.level-2 {
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -o-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
  visibility: visible;
}

.hs-inline-edit .submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.hs-inline-edit > li.has-submenu.focus .submenu.level-2 {
  visibility: hidden;
}

/* Mobile Navigation Toggle */

#nav-toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__navigation-toggle {
    cursor: pointer;
    display: block;
  }

  .header__mobile-menu-icon,
  .header__mobile-menu-icon:after,
  .header__mobile-menu-icon:before {
    border-radius: 10px;
    display: inline-block;
    height: 4px;
    width: 24px;
  }

  .header__mobile-menu-icon {
    position: relative;
    top: -6px;
  }

  .header__mobile-menu-icon:before {
    top: -8px;
  }

  .header__mobile-menu-icon:after {
    top: 8px;
  }

  .header__mobile-menu-icon:after,
  .header__mobile-menu-icon:before {
    content: '';
    position: absolute;
  }

  #nav-toggle:checked ~ .header__navigation {
    display: block;
  }

  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon {
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }

  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon:before {
    content: none;
  }

  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon:after {
    top: 0;
    -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
  }

  .menu-arrow-icon,
  .menu-arrow-icon:after {
    border-radius: 10px;
    display: block;
    height: 4px;
    width: 20px;
  }

  .menu-arrow-icon {
    position: relative;
    margin: 0 auto;
    top: 8px;
  }

  .menu-arrow-icon:after {
    content: '';
    position: absolute;
    -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
  }
}

/* Mobile Navigation */

@media (max-width: 767px) {
  .header__navigation {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
  }

  .submenu > li > a {
    display: block;
    width: 100%;
  }

  .submenu > .has-submenu {
    position: relative;
  }

  .submenu > .has-submenu > a {
    width: 70%;
  }

  .submenu.level-1 > li > a {
    padding: 7px 30px;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow,
  .submenu > .has-submenu > .menu-arrow,
  .submenu .menu-arrow {
    border: none;
    cursor: pointer;
    padding: 13px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow-bg,
  .submenu > .has-submenu > .menu-arrow-bg,
  .submenu .menu-arrow-bg {
    display: block;
    height: 20px;
    margin-left: auto;
    margin-right: 30px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    width: 20px;
  }

  input[type="checkbox"]:checked ~ .submenu {
    display: block;
  }

  input[type="checkbox"]:checked ~ .menu-arrow .menu-arrow-bg {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }

  .submenu.level-2 .menu-item {
    border-bottom: none;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 0;
  }

  .submenu.level-2 .menu-item .menu-link {
    padding: 7px 60px;
  }

  .submenu.level-2 .menu-item .menu-link:hover {
    background-color: inherit;
  }

  .submenu.level-3 {
    background-color: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .submenu.level-3 > li {
    background-color: inherit;
    padding: 0;
  }

  .submenu.level-3 .menu-item .menu-link {
    padding: 7px 90px;
  }
}