/* Footer Container */

.footer {
  background-color: #1E2B33;
}

.footer__container {
  margin: 0 auto;
  max-width: 1340px;
  padding: 2.8rem 2.8rem 0 2.8rem;
  text-align: center;
}

.footer__nav-section {
  text-align: center;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 10px 0;
}

.footer__nav-section nav {
  float: none;
}

@media (max-width: 767px) {
  .footer__top-section {
    padding-bottom: 2.8rem;
  }
}

.footer__bottom-section {
  padding: 0 0 20px 0;
}

@media (max-width: 767px) {
  .footer__top-section,
  .footer__bottom-section {
    text-align: center;
  }
}

/* Footer Logo */

.footer__logo {
  margin-bottom: 20px;
}

/* Footer Social Follow */

.footer__follow-me {
  padding: 20px 0;
}

.footer__follow-me .social-links__icon svg {
  fill: #FFF;
}

.footer__follow-me .social-links__icon:hover {
  background-color: #FFF;
}

.footer__follow-me .social-links__icon:hover svg {
  fill: #1E2B33;
}

/* Footer Menus */

.footer * {
  color: #FFF;
}

.footer h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__navigation ul {
  list-style: none;
  padding-left: 0;
}

.footer__navigation li {
  margin: 0.7rem 0;
}

@media (max-width: 767px) {
  .footer .footer__navigation {
    float: left;
    width: 50%;
  }

  .footer .footer__navigation:nth-child(2n+2) {
    clear: left;
  }

  .footer__logo,
  .footer__follow-me {
    margin-bottom: 40px;
  }
}