/* Navigation Theme Styles */

.navigation-primary a {
    color: #FFF;
}

.navigation-primary a:hover,
.navigation-primary a:focus,
.navigation-primary a:active {
    color: #FFF;
}

.navigation-primary .submenu.level-1 > li > a.active-item:after {
    background-color: #FFF;
}

.submenu.level-2 {
    background-color: #34B5E5;
    border-color: #D0D0D0;
}

.submenu.level-2 > li {
    border-bottom-color: #D0D0D0;
}

.submenu.level-2 .menu-item .menu-link:hover,
.submenu.level-2 .menu-item .menu-link:focus {
    background-color: #C168C2;
    color: #FFF;
}

@media(max-width: 767px) {
    .header__navigation {
        background-color: #34B5E5;
    }

    .header__mobile-menu-icon,
    .header__mobile-menu-icon:after,
    .header__mobile-menu-icon:before {
        background-color: #FFF;
    }

    .menu-arrow-icon,
    .menu-arrow-icon:after {
        background-color: #FFF;
    }

    .submenu.level-1 > li {
        border-top-color: #D0D0D0;
    }

    .submenu.level-2 .menu-item {
        border-top-color: #D0D0D0;
    }
}