.blog-cta {
    margin: 80px 0px; 
    position: relative; 
}

.blog-cta__image {
    max-height: calc(100% + 160px); 
    position: absolute;
    top: -80px;  
}

.blog-cta__content {
    padding: 40px 0px 60px; 
}

.blog-cta__cta {
    position: absolute; 
    max-width: 100%; 
    right: 0; 
    top: 50%; 
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 767px) {

    .blog-cta {
        margin: 0px; 
        padding: 20px 0px; 
    }

    .blog-cta__image {
        display: block; 
        margin: 0 auto; 
        max-height: 100%; 
        position: static; 
        top: 0; 
    }

    .blog-cta__content {
        padding: 20px 0px; 
    }

    .blog-cta__cta {
        position: static;
        text-align: center;  
        top: 0; 
        transform: none; 
    }
    
}