.blog-cta {
    margin: 80px 0;
}

.blog-cta__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog-cta__image-column {
    margin: -80px 0;
    width: 25%;
}

.blog-cta__content-column {
    padding: 40px 20px;
    width: 50%;
}

.blog-cta__button-column {
    width: 25%;
}

@media (max-width: 767px) {
    .blog-cta {
        margin: 0;
        padding: 40px 0;
    }

    .blog-cta__image-column,
    .blog-cta__content-column,
    .blog-cta__button-column {
        width: 100%;
    }

    .blog-cta__image-column {
        margin: 0;
    }

    .blog-cta__image {
        display: block;
        margin: 0 auto;
    }

    .blog-cta__content-column {
        padding: 20px 0;
    }

    .blog-cta__button-column {
        text-align: center;
    }
}