<div class="cta-banner">
  <div class="content-wrapper">
    <div class="cta-banner__wrapper">
      <div class="cta-banner__image-column">
      {% if module.image.src %}
        {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
        {% if module.image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif module.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.image.max_width }}px; max-height: {{ module.image.max_height }}px"' %}
        {% endif %}
        <img class="cta-banner__image" src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ sizeAttrs }}>
      {% endif %}
      </div>
      <div class="cta-banner__content-column">
        {{ module.content }}
      </div>
      <div class="cta-banner__button-column">
        {% cta guid="{{ module.cta_field }}" %}
      </div>
    </div>
  </div>
</div>