<section class="features">
  {% if module.features_title %}
    <h4>{{ module.features_title }}</h4>
  {% endif %}
  <div class="feature-group row-fluid">
    {% for feature in module.features %}
    <div class="feature span{{ 12 / module.features|length|round }}">
      <span class="icon">	
        {% icon
          name="{{ feature.feature_icon.name }}"
          style="{{ feature.feature_icon.type }}"
          unicode="{{ feature.feature_icon.unicode }}"
        %}
      </span>
      <h6 class="title">{{ feature.feature_title }}</h6>
      <div clas="description">{{ feature.feature_description }}</div>
    </div>
    {% endfor %}
  </div> 
  {% if module.features_cta %}
    <div class="cta">{% cta guid="{{ module.features_cta }}" %}</div>
  {% endif %}
</section>