<div class="accordion" id="accordion_{{ name }}" {% if module.max_1_open %}data-sync="true"{% endif %}>
  {% for accordion in module.accordion %}
    <div class="accordion__item" aria-expanded="{% if accordion.open_by_default %}true{% endif %}">
      <button>
        {{ accordion.accordion_header }}
        <span class="accordion__icon"></span>
      </button>
      <main>
        <div class="accordion__item-content">
          {{ accordion.accordion_content }}
        </div>
      </main>
    </div>
  {% endfor %}
</div>

{% require_css %}
<style>
  #accordion_{{name}} .accordion__item button {
    color: rgba({{ module.style.faq_color.color|convert_rgb }},{{ module.style.faq_color.opacity }});
  }
  #accordion_{{name}} .accordion__icon {
    background-color: rgba({{ module.style.faq_color.color|convert_rgb }},{{ module.style.faq_color.opacity }});
  }
  #accordion_{{name}} .accordion__icon:before,
  #accordion_{{name}} .accordion__icon:after {
    background-color: rgba({{ module.style.faq_icon_color.color|convert_rgb }},{{ module.style.faq_icon_color.opacity }});
  }
  #accordion_{{name}} .accordion__item[aria-expanded=true] .accordion__icon:before,
  #accordion_{{name}} .accordion__item[aria-expanded=true] .accordion__icon:after {
    background-color: rgba({{ module.style.faq_icon_open_color.color|convert_rgb }},{{ module.style.faq_icon_open_color.opacity }});
  }
  #accordion_{{name}} .accordion__item[aria-expanded=true] .accordion__icon {
    background-color: rgba({{ module.style.faq_open_color.color|convert_rgb }},{{ module.style.faq_open_color.opacity }});
  }
</style>
{% end_require_css %}