<section class="statistics">
  {% if module.statistics_title %}
    <h4>{{ module.statistics_title }}</h4>
  {% endif %}
  {% if module.statistics_description %}
    <p>{{ module.statistics_description }}</p>
  {% endif %}
  <div class="statistics-group row-fluid">
    {% for statistic in module.statistic %}
      {% set circleDegrees = statistic.statistic_percentage * 0.01 * 360 %}
      <div class="statistic span{{ 12 / module.statistic|length|round }}">
        <h3 class="title"></h3>
        <div class="statistic-circle">
          <span>{{ statistic.statistic_number }}</span>
          <div class="slice {% if statistic.statistic_percentage > 50 %}large{% endif %}">
            <div class="bar" style="-webkit-transform: rotate({{ circleDegrees|round }}deg); -moz-transform: rotate({{ circleDegrees|round }}deg); -ms-transform: rotate({{ circleDegrees|round }}deg); -o-transform: rotate({{ circleDegrees|round }}deg); transform: rotate({{ circleDegrees|round }}deg);"></div>
            <div class="fill"></div>
          </div>
        </div>
        <div class="description">{{ statistic.statistic_description }}</div>
      </div>
    {% endfor %}
  </div>
</section>


