.blog-subscription {
    background-color: #333333; 
}

.blog-subscription-container {
    max-width: {{ get_theme_style_setting('spacing.max_width', 'px') }};
    margin: 0 auto;
    padding: 40px; 
}

.blog-subscription-text {
    color: #fff; 
    font-size: 1.071rem; 
    font-weight: 600; 
    text-align: center; 
    text-transform: uppercase; 
}