.content-wrapper {
    max-width: {{ get_theme_style_setting('spacing.max_width', 'px') }};
    margin: 0px auto;
    padding: 0px 25px; 
}

.blog-index,
.blog-post {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.blog-index-header,
.blog-post-header {
    background-position: center center; 
    background-size: cover;
    padding-top: {{ get_theme_style_setting('spacing.vertical_spacing', 'px') }};
    padding-bottom: {{ get_theme_style_setting('spacing.vertical_spacing', 'px') }};
}

.blog-index-header {
    text-align: center; 
}

.blog-index-header__inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 3.3rem 0;
}

.blog-post-header__back-button {
    background-color: #c168c2;
    font-size: 20px;
    padding: 15px 20px;
    width: 250px;
    text-align: right;
}

.blog-post-header__back-button svg {
    fill: #fff; 
    margin-right: 10px; 
}

.blog-post-header__back-button a {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end; 
}

.blog-post-header__back-button a:hover {
    color: #fff; 
    text-decoration: none; 
}

.blog-navigation {
    background-color: #34b5e5;
    padding: 16px 0px; 
}

.blog-tag-filter__title, 
.blog-tag-filter__dropdown {
    display: inline-block; 
}

.blog-tag-filter__title {
    color: #fff; 
    font-weight: 600; 
    margin-right: 48px; 
    text-transform: uppercase; 
}

.blog-navigation__search form {
    background-color: transparent;
    border: none;
    margin-left: auto; 
    max-width: 360px;
    padding: 0px;
}

.blog-index,
.blog-related-posts__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 3.3rem 0;
}

.blog-card {
    border: 1px solid #d0d0d0; 
    border-radius: {{ get_theme_style_setting('buttons.button_border_radius', 'px') }};
    float: left; 
    margin-bottom: 30px; 
    width: calc(50% - 30px);
}

.blog-card__header {
    padding: 40px 20px; 
}

.blog-card__title a,
.blog-card__author-name,
.blog-post__author-name {
    color: {{ get_theme_style_setting('typography.body_font.color') }};
}

.blog-card__title a:hover,
.blog-card__author-name:hover,
.blog-post__author-name:hover {
    color: {{ get_theme_style_setting('typography.body_font.color') }};
    text-decoration: none; 
}

.blog-card__title,
.blog-post__title {
    letter-spacing: 0; 
    margin-bottom: 20px; 
    text-transform: none; 
}

.blog-card__author-image,
.blog-post__author-image {
    background-size: cover;
    border-radius: 50%;
    height: 45px;
    margin-right: 10px; 
    width: 45px;
}

.blog-card__author-image,
.blog-card__meta,
.blog-post__author-image,
.blog-post__meta {
    display: inline-block;
    vertical-align: middle;
}

.blog-card__author-name, 
.blog-card__date,
.blog-card__author-name,
.blog-post__date {
    display: block; 
}

.blog-card__image {
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 63%;
  }

.blog-card__content {
    padding: 20px 20px 40px; 
}

.blog-card__tags {
    margin-bottom: 1em; 
}

.blog-card__tags svg,
.blog-post__tags svg {
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
    width: 15px;
    height: auto;
    margin-right: 10px;
    fill: #34b5e5; 
}

.blog-card__tag-link,
.blog-post__tag-link {
    background-color: #34b5e5;
    border-radius: 4px;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.blog-card__tag-link:hover,
.blog-card__tag-link:focus,
.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
    color: #fff; 
    text-decoration: none; 
}

.blog-card__comment-count,
.blog-card__button {
    display: inline-block; 
    vertical-align: middle; 
}

.blog-card__comment-count {
    float: right; 
}

.blog-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3.3rem;
}

.blog-pagination__link {
    color: {{ get_theme_style_setting('links.link_color.color') }}; 
    display: inline-flex;
    font-size: 20px; 
    padding: 0.25rem 0.6rem;
    margin: 0 0.1rem;
    text-decoration: none;
    line-height: 1;
    border-radius: 4px; 
}

.blog-pagination__link--active {
    background-color: #34b5e5; 
    color: #fff; 
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
    text-decoration: none;
    color: {{ get_theme_style_setting('links.link_hover_color.color') }};
}

.blog-pagination__link--active:hover, 
.blog-pagination__link--active:focus {
    color: #fff; 
}

.blog-pagination__prev-link,
.blog-pagination__next-link {
    display: inline-flex;
    align-items: center;
}

.blog-pagination__prev-link {
    text-align: right;
    margin-right: .25rem;
}
.blog-pagination__next-link {
    text-align: left;
    margin-left: .25rem;
}

.blog-pagination__prev-link--disabled, 
.blog-pagination__next-link--disabled {
    color: #d0d0d0;
    pointer-events: none;
    cursor: default;
}

.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
    fill: {{ get_theme_style_setting('links.link_color.color') }};
    margin: 0 5px;
}

.blog-pagination__link:hover svg, 
.blog-pagination__link:focus svg {
    fill: {{ get_theme_style_setting('links.link_hover_color.color') }}; 
}

.blog-pagination__prev-link--disabled svg, 
.blog-pagination__next-link--disabled svg {
    fill: #d0d0d0; 
}

.blog-post__tags {
    margin: 20px 0px 40px;
}

.blog-related-posts {
    margin-top: 20px; 
}

.blog-related-posts__title {
    text-align: center; 
}

.blog-comments form {
    max-width: 100%; 
}

.blog-post__comments {
    padding-bottom: 80px;
    text-align: center; 
}

.blog-comments__listing {
    display: none; 
    text-align: left; 
}

.blog-cta {
    margin: 80px 0px; 
    position: relative; 
}

.blog-cta__image {
    max-height: calc(100% + 160px); 
    position: absolute;
    top: -80px;  
}

.blog-cta__content {
    padding: 40px 0px 60px; 
}

.blog-cta__cta {
    position: absolute; 
    max-width: 100%; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .blog-card {
        width: 100%; 
    }
    .blog-post__comments {
        padding-bottom: 40px; 
    }
    .blog-cta {
        margin: 0px; 
        padding: 20px 0px; 
    }
    .blog-cta__image {
        display: block; 
        margin: 0 auto; 
        max-height: 100%; 
        position: static; 
        top: 0; 
    }
    .blog-cta__content {
        padding: 20px 0px; 
    }
    .blog-cta__cta {
        position: static;
        text-align: center;  
        top: 0; 
        transform: none; 
    }
}