/* Drag and Drop Section */
.dnd-section {
  padding-bottom: {{ get_theme_style_setting('spacing_group.spacing.vertical_spacing', 'px') }};
  padding-left: 20px;
  padding-right: 20px;
  padding-top: {{ get_theme_style_setting('spacing_group.spacing.vertical_spacing', 'px') }};
}

.dnd-section > .row-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: {{ get_theme_style_setting('spacing_group.spacing.max_width', 'px') }};
}

.dnd-section .widget-type-cell {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .dnd-section .widget-type-cell {
    padding-left: 0px;
    padding-right: 0px;
  }
}