.footer {
  background-color: #1E2B33;
}

.footer-container {
  max-width: {{ get_theme_style_setting('spacing.max_width', 'px') }};
  margin: 0 auto;
  padding: 40px 40px 0px 40px; 
}

.footer-top-section {
  padding-bottom: 80px; 
}

.footer-logo {
  margin-bottom: 60px; 
}

.footer .follow-me .social-links {
  border-color: #fff; 
}
.footer .follow-me .social-links-icon {
  border-right-color: #fff; 
}
.footer .follow-me .social-links-icon svg {
  fill: #fff;
}
.footer .follow-me .social-links-icon:hover {
  background-color: #fff; 
}
.footer .follow-me .social-links-icon:hover svg {
  fill: #1E2B33; 
}

.footer-bottom-section {
  border-top: 1px solid #fff; 
  padding: 20px 0px; 
}

.footer, 
.footer a {
  color: #fff; 
}

.footer h4 {
  color: #fff; 
  font-family: {{ get_theme_style_setting('typography.heading_six.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_six.size.value', 'typography.heading_six.size.units') }};
  font-weight: 600; 
  letter-spacing: normal; 
  line-height: 1.125rem;
  text-transform: uppercase; 
}

.footer-navigation ul li:before {
  content: none; 
}

@media (max-width: 767px) {
  .footer-top-section,
  .footer-bottom-section {
    text-align: center; 
  }
  .footer-top-section {
    padding-bottom: 40px; 
  }
  .footer .footer-logo, 
  .footer .follow-me {
    margin-bottom: 40px; 
  }
  .footer .footer-navigation {
    float: left; 
    width: 50%; 
  }
}