.footer {
  background-color: {{ get_theme_style_setting('footer.footer_bg_color.color') }};
}

.footer__container {
  max-width: {{ get_theme_style_setting('spacing.max_width', 'px') }};
  margin: 0 auto;
  padding: 40px 40px 0px 40px; 
}

.footer__top-section {
  padding-bottom: 80px; 
}

.footer__logo {
  margin-bottom: 60px; 
}

.footer__follow-me .social-links {
  border-color: {{ get_theme_style_setting('footer.footer_content_color.color') }}; 
}

.footer__follow-me .social-links__icon {
  border-right-color: {{ get_theme_style_setting('footer.footer_content_color.color') }}; 
}

.footer__follow-me .social-links__icon svg {
  fill: {{ get_theme_style_setting('footer.footer_content_color.color') }}; 
}

.footer__follow-me .social-links__icon:hover {
  background-color: {{ get_theme_style_setting('footer.footer_content_color.color') }}; 
}

.footer__follow-me .social-links__icon:hover svg {
  fill: {{ get_theme_style_setting('footer.footer_bg_color.color') }};
}

.footer__bottom-section {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: {{ get_theme_style_setting('footer.footer_content_color.color') }};
  padding: 20px 0px; 
}

.footer, 
.footer h4,
.footer a {
  color: {{ get_theme_style_setting('footer.footer_content_color.color') }}; 
}

.footer h4 {
  font-family: {{ get_theme_style_setting('typography.heading_six.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_six.size.value', 'typography.heading_six.size.units') }};
  font-weight: 600; 
  letter-spacing: normal; 
  line-height: 1.125rem;
  text-transform: uppercase; 
}

.footer__navigation ul {
  list-style: none; 
}

@media (max-width: 767px) {
  .footer__top-section,
  .footer__bottom-section {
    text-align: center; 
  }
  .footer__top-section {
    padding-bottom: 40px; 
  }
  .footer__logo, 
  .footer__follow-me {
    margin-bottom: 40px; 
  }
  .footer .footer__navigation {
    float: left; 
    width: 50%; 
  }
  .footer .footer__navigation:nth-child(2n+2) {
    clear: left; 
  }
}