form {
  background-color: #f1f1f1; 
  border: 1px solid {{ border_color }};
  border-botton-left-radius: {{ border_radius }};
  border-bottom-right-radius: {{ border_radius }};
  font-family: {{ secondary_font_family }};
  max-width: {{ form_max_width }};
  padding: 2.625rem;
}

h3.form-title {
  background-color: #c168c2;
  border-top-left-radius: {{ border_radius }};
  border-top-right-radius: {{ border_radius }};
  color: #fff; 
  margin: 0; 
  max-width: {{ form_max_width }};
  padding: 2.875rem 2.625rem 2.4375rem;
  text-transform: uppercase;  
}

.hs-button {
  background-color: {{ form_button_color }};
  border: 1px solid {{ form_button_color }};
  border-radius: {{ border_radius }};
  color: {{ form_button_text_color }};
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2em; 
  margin: 0; 
  padding: 0.8571rem;
  text-align: center; 
  text-decoration: none;
  text-transform: uppercase; 
  transition: all 0.15s linear;
  width: 100%; 
}

.hs-button:hover, 
.hs-button:focus,
.hs-button:active {
  background-color: {{ form_button_color_hover }};
  border-color: {{ form_button_color_hover }};
  color: {{ form_button_text_color }};
}

.hs-form label {
  font-size: 1rem;
  color: {{ form_label_color }};
  display: block;
  float: none;
  width: auto;
  text-align: left;
  padding-top: 0;
  margin-bottom: 4px;
}

.hs-error-msgs label {
  margin-top: 0.5rem;
  color: {{ form_error_label_color }};
}

form input,
form select,
form textarea {
  border: 1px solid {{ border_color }}; 
  background-color: #fff; 
  color: {{ form_input_color }};
  display: inline-block; 
  width: 100%; 
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
}

.hs-input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}

.hs-input:-moz-placeholder {
  color: {{ form_placeholder_color }};
}

.hs-input::-webkit-input-placeholder {
  color: {{ form_placeholder_color }};
}

.hs-input input,
.hs-input textarea {
  transition: border 0.2s linear;
}
.hs-input:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
}

textarea.hs-input {
  height: auto;
}

select[multiple].hs-input {
  height: inherit;
}

/* Force single column fields to full width inside of fieldsets */
fieldset.form-columns-1 .hs-input:not([type=radio]):not([type=checkbox]) {
  width: 100% !important;
}

input.hs-input.error,
div.field.error input,
div.field.error textarea,
div.field.error .chzn-choices,
textarea.hs-input.error,
select.hs-input.error {
  border-color: {{ form_error_border_color }};
}
input.hs-input.error:focus,
div.field.error input:focus,
div.field.error textarea:focus,
div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus,
select.hs-input.error:focus {
  border-color: {{ form_error_focus_border_color }};
}

.actions {
  padding: 0;
}

.inputs-list {
  margin: 0 0 5px;
  width: 100%;
  padding-left: 0;
}
.inputs-list > li {
  display: block;
  padding: 0;
  width: 100%;
  padding-top: 0;
}
.inputs-list label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  text-align: left;
  white-space: normal;
  font-weight: normal;
}
.inputs-list:first-child {
  padding-top: 6px;
}
.inputs-list > li + li {
  padding-top: 2px;
}
.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}

ul.no-list {
  list-style: none;
}

.field {
  margin-bottom: 18px;
}

.hs-field-desc {
  color: {{ form_description_color }};
  margin: 0px 0px 6px;
  font-size: 14px;
}

.hs-form-required {
  color: red;
}

.hs-richtext {
  margin-bottom: 3px;
  line-height: 1.2;
  font-size: {{ body_font_size }};
  color: {{ body_color }};
}
.hs-richtext hr {
  text-align: left;
  margin-left: 0;
  width: 91%;
}

.grecaptcha-badge {
  margin: 0 auto;
}

.email-correction, .email-validation {
  padding-top: 3px;
  font-size: 12px;
}
.email-correction a,
.email-validation a {
  cursor: pointer;
}
@media (max-width: 400px),
(min-device-width: 320px) and (max-device-width: 480px) {
  .email-correction form .form-columns-2 .hs-form-field,
  .email-correction form .form-columns-3 .hs-form-field,
  .email-validation form .form-columns-2 .hs-form-field,
  .email-validation form .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }
  .email-correction form .form-columns-2 .hs-form-field .hs-input,
  .email-correction form .form-columns-3 .hs-form-field .hs-input,
  .email-validation form .form-columns-2 .hs-form-field .hs-input,
  .email-validation form .form-columns-3 .hs-form-field .hs-input {
    width: 90%;
  }
  .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-2 .hs-form-field input[type=radio],
  .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-3 .hs-form-field input[type=radio],
  .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-2 .hs-form-field input[type=radio],
  .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
    width: 24px;
  }
}

.hs-button,
.hs-form-field input[type=text],
.hs-form-field input[type=email],
.hs-form-field input[type=phone],
.hs-form-field input[type=number],
.hs-form-field input[type=tel],
.hs-form-field input[type=date],
.hs-form-field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: {{ body_font_family }};
}
