form {
  background-color: {{ get_theme_style_setting('forms.form_bg_color.color') }};
  border: 1px solid {{ get_theme_style_setting('forms.form_border_color.color') }}; 
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: {{ get_theme_style_setting('typography.body_font.font') }};
  max-width: 500px;
  padding: 2.6rem;
}

h3.form-title {
  background-color: {{ get_theme_style_setting('forms.form_header_bg_color.color') }}; 
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: {{ get_theme_style_setting('forms.form_header_text_color.color') }}; 
  margin: 0; 
  max-width: 500px;
  padding: 2.8rem 2.6rem;
  text-transform: uppercase;  
}

.hs-button,
.button__primary {
  background-color: {{ get_theme_style_setting('buttons.button_bg_color.color') }};
  border: 1px solid {{ get_theme_style_setting('buttons.button_bg_color.color') }};
  border-radius: {{ get_theme_style_setting('buttons.button_border_radius', 'px') }};
  color: {{ get_theme_style_setting('buttons.button_text_color.color') }};
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2em; 
  margin: 0; 
  padding: 0.8rem;
  text-align: center; 
  text-decoration: none;
  text-transform: uppercase; 
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.hs-button:hover, 
.hs-button:focus,
.hs-button:active,
.button__primary:hover, 
.button__primary:focus,
.button__primary:active {
  border-color: {{ get_theme_style_setting('buttons.button_bg_hover_color.color') }};
  background-color: {{ get_theme_style_setting('buttons.button_bg_hover_color.color') }};
  color: {{ get_theme_style_setting('buttons.button_text_color.color') }};
  text-decoration: none; 
}

form .hs-button {
  width: 100%; 
}

.hs-form label {
  font-size: 1rem;
  color: {{ get_theme_style_setting('forms.form_label_color.color') }}; 
  display: block;
  float: none;
  width: auto;
  text-align: left;
  padding-top: 0;
  margin-bottom: 4px;
}

.hs-error-msgs label {
  margin-top: 0.5rem;
  color: #ef6b51;
}

form .input {
  position: relative; 
}

form input,
form select,
form textarea {
  border-width: 1px;
  border-style: solid;
  border-color: {{ get_theme_style_setting('forms.form_field_border_color.color') }};
  background-color: #fff; 
  color: {{ get_theme_style_setting('typography.body_font.color') }};
  display: inline-block; 
  padding: 0.75rem; 
  width: 100%; 
}

form input:focus,
form select:focus,
form textarea:focus {
  outline: none;
  border-color: {{ get_theme_style_setting('forms.form_field_focus_border_color.color') }};
  border-width: 1px;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
}

.hs-input[type=file] {
  background-color: transparent;
  border: 0px; 
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}

.hs-dropdown .input:after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  color: {{ get_theme_style_setting('typography.body_font.color') }};
}

.hs-date_picker .input .hs-dateinput:before {
  content:"\01F4C5";
  position: absolute;
  color: {{ get_theme_style_setting('typography.body_font.color') }};
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: {{ get_theme_style_setting('tables.table_header_text_color.color') }};
}

.fn-date-picker td.is-today .pika-button {
  color: #34b5e5;
}

.fn-date-picker td.is-selected .pika-button {
  background: #34b5e5;
  box-shadow: none; 
  border-radius: 0; 
}

.fn-date-picker td .pika-button:hover {
  background-color: #c168c2 !important; 
  border-radius: 0 !important; 
}

.hs-input:-moz-placeholder {
  color: {{ get_theme_style_setting('typography.body_font.color') }};
}

.hs-input::-webkit-input-placeholder {
  color: {{ get_theme_style_setting('typography.body_font.color') }};
}

.hs-input input,
.hs-input textarea {
  -webkit-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

textarea.hs-input {
  height: auto;
}

select[multiple].hs-input {
  height: inherit;
}

/* Force single column fields to full width inside of fieldsets */
fieldset.form-columns-1 .hs-input:not([type=radio]):not([type=checkbox]) {
  width: 100% !important;
}

input.hs-input.error,
div.field.error input,
div.field.error textarea,
div.field.error .chzn-choices,
textarea.hs-input.error,
select.hs-input.error {
  border-color: #ef6b51;
}
input.hs-input.error:focus,
div.field.error input:focus,
div.field.error textarea:focus,
div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus,
select.hs-input.error:focus {
  border-color: #ef6b51;
}

.actions {
  padding: 0;
}

.inputs-list {
  margin: 0 0 5px;
  width: 100%;
  padding-left: 0;
}
.inputs-list > li {
  display: block;
  padding: 0;
  width: 100%;
  padding-top: 0;
}

.inputs-list label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  text-align: left;
  white-space: normal;
  font-weight: normal;
}

.inputs-list:first-child {
  padding-top: 6px;
}

.inputs-list > li + li {
  padding-top: 2px;
}

.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}

ul.no-list {
  list-style: none;
}

.field {
  margin-bottom: 18px;
}

.hs-field-desc {
  color: {{ get_theme_style_setting('typography.body_font.color') }};
  margin: 0px 0px 6px;
  font-size: 14px;
}

.hs-form-required {
  color: red;
}

.hs-richtext {
  margin-bottom: 3px;
  line-height: 1.2;
  font-size: {{ get_theme_style_setting('typography.body_font.size.value', 'typography.body_font.size.units') }};
  color: {{ get_theme_style_setting('typography.body_font.color') }};
}

.hs-richtext hr {
  text-align: left;
  margin-left: 0;
  width: 91%;
}

.grecaptcha-badge {
  margin: 0 auto;
}

.email-correction, .email-validation {
  padding-top: 3px;
  font-size: 12px;
}

.email-correction a,
.email-validation a {
  cursor: pointer;
}

@media (max-width: 400px),
(min-device-width: 320px) and (max-device-width: 480px) {
  .email-correction form .form-columns-2 .hs-form-field,
  .email-correction form .form-columns-3 .hs-form-field,
  .email-validation form .form-columns-2 .hs-form-field,
  .email-validation form .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }
  .email-correction form .form-columns-2 .hs-form-field .hs-input,
  .email-correction form .form-columns-3 .hs-form-field .hs-input,
  .email-validation form .form-columns-2 .hs-form-field .hs-input,
  .email-validation form .form-columns-3 .hs-form-field .hs-input {
    width: 90%;
  }
  .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-2 .hs-form-field input[type=radio],
  .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-3 .hs-form-field input[type=radio],
  .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-2 .hs-form-field input[type=radio],
  .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
    width: 24px;
  }
}

.hs-button,
.button__primary,
.hs-form-field input[type=text],
.hs-form-field input[type=email],
.hs-form-field input[type=phone],
.hs-form-field input[type=number],
.hs-form-field input[type=tel],
.hs-form-field input[type=date],
.hs-form-field textarea,
.hs-form-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.hs-form-field select::-ms-expand { 
  display: none; 
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: {{ get_theme_style_setting('typography.body_font.font') }};
}
