.header {
  background-color: {{ get_theme_style_setting('header_group.header.header_bg_color.color') }};
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
    justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;
  max-width: {{ get_theme_style_setting('spacing_group.spacing.max_width', 'px') }};
  margin: 0 auto;
  padding: 25px 40px;
  position: relative;
}

/* Default Logo */
.header__logo .logo-company-name {
  color: {{ get_theme_style_setting('header_group.header.header_menu_link_color.color') }};
  font-size: 28px;
  margin-top: 7px;
}

/* Navigation */
#nav-toggle {
  display: none;
}

.navigation-primary a {
  color: {{ get_theme_style_setting('header_group.header.header_menu_link_color.color') }};
}

.navigation-primary a:hover,
.navigation-primary a:focus,
.navigation-primary a:active {
  color: {{ get_theme_style_setting('header_group.header.header_menu_link_hover_color.color') }};
}

.navigation-primary .submenu.level-1 > li > a.active-item:after {
  background-color: {{ get_theme_style_setting('header_group.header.header_menu_link_color.color') }};
}

.submenu.level-2 {
  background-color: {{ get_theme_style_setting('header_group.header.header_bg_color.color') }};
  border-color: {{ get_theme_style_setting('header_group.header.header_child_menu_border_color.color') }};
}

.submenu.level-2 > li {
  border-bottom-color: {{ get_theme_style_setting('header_group.header.header_child_menu_border_color.color') }};
}

.submenu.level-2 .menu-item .menu-link:hover,
.submenu.level-2 .menu-item .menu-link:focus {
  background-color: {{ get_theme_style_setting('header_group.header.header_child_menu_hover_bg_color.color') }};
  color: {{ get_theme_style_setting('header_group.header.header_child_menu_hover_color.color') }};
}

@media screen and (max-width: 767px) {
  .header__container {
    padding: 20px;
  }

  .header .header__menu {
    min-height: 0px;
  }

  .header__navigation {
    background-color: {{ get_theme_style_setting('header_group.header.header_bg_color.color') }};
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
  }

  #nav-toggle:checked ~ .header__navigation {
    display: block;
  }

  .header__navigation-toggle {
    cursor: pointer;
    display: block;
  }

  .header__mobile-menu-icon,
  .header__mobile-menu-icon:after,
  .header__mobile-menu-icon:before {
    background-color: {{ get_theme_style_setting('header_group.header.header_menu_link_color.color') }};
    border-radius: 10px;
    display: inline-block;
    height: 4px;
    width: 24px;
  }

  .header__mobile-menu-icon {
    position: relative;
    top: -6px;
  }

  .header__mobile-menu-icon:before {
    top: -8px;
  }

  .header__mobile-menu-icon:after {
    top: 8px;
  }

  .header__mobile-menu-icon:after,
  .header__mobile-menu-icon:before {
    content: '';
    position: absolute;
  }

  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon {
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon:before {
    content: none;
  }

  #nav-toggle:checked + .header__navigation-toggle .header__mobile-menu-icon:after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 0;
  }

  .menu-arrow-icon,
  .menu-arrow-icon:after {
    background-color: {{ get_theme_style_setting('header_group.header.header_menu_link_color.color') }};
    border-radius: 10px;
    display: block;
    height: 4px;
    width: 20px;
  }

  .menu-arrow-icon {
    position: relative;
    margin: 0 auto;
    top: 8px;
  }

  .menu-arrow-icon:after {
    content: '';
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .submenu.level-1 > li {
    border-top-color: {{ get_theme_style_setting('header_group.header.header_child_menu_border_color.color') }};
  }

  .submenu.level-2 .menu-item {
    border-top-color: {{ get_theme_style_setting('header_group.header.header_child_menu_border_color.color') }};
  }
}