/* Table */
table {
  border-color: {{ get_theme_style_setting('tables_group.tables.table_border_color.color') }};
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
}

tbody + tbody {
  border-top-color: {{ get_theme_style_setting('tables_group.tables.table_border_color.color') }};
  border-top-style: solid;
  border-top-width: 2px;
}

/* Table Cells */
th,
td {
  background-color: {{ get_theme_style_setting('tables_group.tables.table_body_bg_color.color') }};
  border-color: {{ get_theme_style_setting('tables_group.tables.table_border_color.color') }};
  border-style: solid;
  border-width: 1px;
  color: {{ get_theme_style_setting('tables_group.tables.table_body_text_color.color') }};
  padding: 0.75rem;
  vertical-align: top;
}

/* Table Header */
thead th,
thead td {
  background-color: {{ get_theme_style_setting('tables_group.tables.table_header_bg_color.color') }};
  color: {{ get_theme_style_setting('tables_group.tables.table_header_text_color.color') }};
  vertical-align: bottom;
}

/* Table Footer */
tfoot td {
  background-color: {{ get_theme_style_setting('tables_group.tables.table_footer_bg_color.color') }};
  color: {{ get_theme_style_setting('tables_group.tables.table_footer_text_color.color') }};
}
