html {
  font-size: {{ base_font_size }};
}

body {
  font-family: {{ body_font_family }};
  font-size: {{ body_font_size }};
  color: {{ body_color }};
  line-height: 1.75;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: {{ body_font_family }};
  font-weight: 400; 
  letter-spacing: 0.02em; 
  line-height: 2; 
}

/* Anchor Links */
a {
  color: {{ link_color }};
  cursor: pointer; 
  text-decoration: none;
}

a:hover, a:focus {
  color: {{ link_hover_color }};
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: {{ headings_font_weight }};
  font-family: {{ headings_font_family }};
  color: {{ headings_color }};
  word-break: break-word;
}

h1 {
  font-size: {{ h1_font_size }};
  letter-spacing: 0.2em;
  line-height: 1.1; 
  text-transform: uppercase; 
}

h2 {
  font-size: {{ h2_font_size }};
  letter-spacing: 0.2em;
  line-height: 1.2; 
  text-transform: uppercase; 
}

h3 {
  font-size: {{ h3_font_size }};
  letter-spacing: 0.05em; 
  line-height: 1.16; 
}

h4 {
  font-family: {{ secondary_font_family }};
  font-weight: normal;
  font-size: {{ h4_font_size }};
  letter-spacing: 0.2em;
  line-height: 1.3; 
  text-transform: uppercase; 
}

h5 {
  color: #34b5e5;
  font-size: {{ h5_font_size }};
  letter-spacing: 0.2em;
  line-height: 1.22;
  text-transform: uppercase; 
}

h6 {
  font-size: {{ h6_font_size }};
  line-height: 1.2;
}

strong {
  font-weight: 600;
}

code {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside; 
}

ul,
ol {
  padding-left: 0; 
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li:before {
  content: "\f058"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.429rem; 
  line-height: 2; 
  padding-right: 0.7143rem; 
  color: #1287b3;
  letter-spacing: 0;
  vertical-align: middle;
}

ul li,
ol li {
  font-size: 1rem; 
  line-height: 2.71; 
  font-weight: 300; 
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.857rem; 
}

blockquote {
  padding: 1.429rem 2.857rem; 
  font-size: 1.429rem; 
  line-height: 2.143rem; 
  margin: 0;
  border-left: 4px solid #34b5e5;
  font-weight: 400;
  letter-spacing: 0;
}

/* Horizontal Rules */
hr {
  color: #d0d0d0;
  background-color: #d0d0d0;
  height: 1px;
  border: none;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

:focus {
  outline: auto;
  outline-color: #c168c2;
}

.disable-focus-styles :focus {
  outline: none;
}

@media (max-width: 767px) {
  html {
    font-size: {{ base_font_scale * 0.75 ~ 'px' }}
  }
}

@media (max-width: 480px) {
  html {
    font-size: {{ base_font_scale * 0.60 ~ 'px'}}
  }
}
