html {
  font-size: {{ get_theme_style_setting('typography.body_font.size.value', 'typography.body_font.size.units') }};
}

body {
  color: {{ get_theme_style_setting('typography.body_font.color') }};
  font-family: {{ get_theme_style_setting('typography.body_font.font') }};
  font-size: 1rem;
  line-height: 1.75rem;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 400; 
  letter-spacing: 0.02em; 
  line-height: 1.5rem; 
}

/* Anchor Links */
a {
  color: {{ get_theme_style_setting('colors.link_color.color') }};
  cursor: pointer; 
  text-decoration: none;
}

a:hover, a:focus {
  color: {{ get_theme_style_setting('colors.link_hover_color.color') }};
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 600;
  word-break: break-word;
}

h1 {
  color: {{ get_theme_style_setting('typography.heading_one.color') }};
  font-family: {{ get_theme_style_setting('typography.heading_one.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_one.size.value', 'typography.heading_one.size.units') }};
  letter-spacing: 0.2em;
  line-height: 2.75rem; 
  text-transform: uppercase; 
}

h2 {
  color: {{ get_theme_style_setting('typography.heading_two.color') }};
  font-family: {{ get_theme_style_setting('typography.heading_two.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_two.size.value', 'typography.heading_two.size.units') }};
  letter-spacing: 0.2em;
  line-height: 2.25rem; 
  text-transform: uppercase; 
}

h3 {
  color: {{ get_theme_style_setting('typography.heading_three.color') }};
  font-family: font-family: {{ get_theme_style_setting('typography.heading_three.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_three.size.value', 'typography.heading_three.size.units') }};
  letter-spacing: 0.05em; 
  line-height: 1.75rem; 
}

h4 {
  color: {{ get_theme_style_setting('typography.heading_four.color') }};
  font-family: {{ get_theme_style_setting('typography.heading_four.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_four.size.value', 'typography.heading_four.size.units') }};
  font-weight: normal;
  letter-spacing: 0.2em;
  line-height: 1.625rem; 
  text-transform: uppercase; 
}

h5 {
  color: {{ get_theme_style_setting('typography.heading_five.color') }};
  font-family: {{ get_theme_style_setting('typography.heading_five.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_five.size.value', 'typography.heading_five.size.units') }};
  letter-spacing: 0.2em;
  line-height: 1.375rem;
  text-transform: uppercase; 
}

h6 {
  color: {{ get_theme_style_setting('typography.heading_six.color') }};
  font-family: {{ get_theme_style_setting('typography.heading_six.font') }};
  font-size: {{ get_theme_style_setting('typography.heading_six.size.value', 'typography.heading_six.size.units') }};
  line-height: 1.125rem;
}

strong {
  font-weight: 600;
}

code {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside; 
}

ul,
ol {
  padding-left: 0; 
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li:before {
  content: "\f058";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.43rem; 
  line-height: 2.5rem; 
  padding-right: 0.71rem; 
  color: {{ get_theme_style_setting('colors.primary_color.color') }};
  letter-spacing: 0;
  vertical-align: middle;
}

ul li,
ol li {
  font-size: 1rem; 
  line-height: 2.375rem; 
  font-weight: 300; 
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.86rem; 
}

/* Disables list stlyes on HubSpot toolbar */ 
.hs-dropdown ul li:before {
  content: none; 
}

blockquote {
  padding: 1.43rem 2.86rem; 
  font-size: 1.43rem; 
  line-height: 2.14rem; 
  margin: 0;
  border-left: 4px solid {{ get_theme_style_setting('colors.primary_color.color') }};
  font-weight: 400;
  letter-spacing: 0;
}

/* Horizontal Rules */
hr {
  color: #d0d0d0;
  background-color: #d0d0d0;
  height: 1px;
  border: none;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

:focus {
  outline: auto;
  outline-color: {{ get_theme_style_setting('colors.accent_color.color') }};
}

.disable-focus-styles :focus {
  outline: none;
}
