.icon {
    padding: 0px 20px;
    text-align: center;
}

.icon__wrapper {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 100%;
    display: block;
    height: 100px;
    margin: 0px auto 20px;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    width: 100px;
}

.icon__wrapper:hover {
    background-color: #34B5E5;
}

.icon svg {
    box-sizing: border-box;
    fill: #34B5E5;
    height: 100px;
    padding: 20px;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    width: 100px;
}

.icon__wrapper:hover svg {
    fill: #FFFFFF;
}