/* Blog Container */

.blog-index,
.blog-post {
    padding: 60px 0px;
}

.blog-post {
    margin: 0 auto;
    max-width: 760px;
}

/* Blog Header */

.blog-index-header,
.blog-post-header {
    background-position: center center;
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 80px;
}

.blog-index-header {
    text-align: center;
}

.blog-index-header__inner {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px 0;
}

.blog-index-header__title,
.blog-index-header__subtitle {
    color: #FFFFFF;
}

.blog-post-header__back-button {
    background-color: #C168C2;
    font-size: 20px;
    padding: 15px 20px;
    text-align: right;
    width: 250px;
}

.blog-post-header__back-button svg {
    fill: #FFF;
    margin-right: 10px;
}

.blog-post-header__back-button a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.blog-post-header__back-button:hover,
.blog-post-header__back-button:focus,
.blog-post-header__back-button:active {
    background-color: #E77DE8;
}

.blog-post-header__back-button:hover a,
.blog-post-header__back-button:focus a,
.blog-post-header__back-button:active a {
    color: #FFF;
    text-decoration: none;
}

/* Blog Navigation */

.blog-navigation {
    background-color: #34B5E5;
    padding: 16px 0px;
}

.blog-tag-filter__title,
.blog-tag-filter__dropdown {
    display: inline-block;
}

@media (max-width: 767px) {
    .blog-tag-filter {
        margin-bottom: 20px;
        text-align: center;
    }
}

.blog-tag-filter__title {
    color: #FFF;
    font-weight: 600;
    margin-right: 48px;
    text-transform: uppercase;
}

.blog-tag-filter__dropdown {
    position: relative;
}

.blog-tag-filter__dropdown select {
    -webkit-appearance: none;
        -moz-appearance: none;
         appearance: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: #FFF;
    display: inline-block;
    padding: 0.75rem;
    max-width: 100%;
    width: 200px;
}

.blog-tag-filter__dropdown select::-ms-expand {
    display: none;
  }

.blog-tag-filter__dropdown select:focus {
    outline: none;
}

.blog-tag-filter__dropdown:after {
    color: #FFF;
    content: "\25BE";
    pointer-events: none;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}


.blog-navigation__search form {
    background-color: transparent;
    border: none;
    margin-left: auto;
    max-width: 360px;
    padding: 0;
}

@media (max-width: 767px) {
    .blog-navigation__search form {
        margin: 0 auto;
    }
}

/* Blog Listing & Related Posts Layout */

.blog-index,
.blog-related-posts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 3.3rem 0;
}

.blog-card {
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    margin-bottom: 30px;
    width: calc(50% - 30px);
}

@media (max-width: 767px) {
    .blog-card {
        width: 100%;
    }
}

.blog-card__header {
    padding: 40px 20px;
}

.blog-card__title a,
.blog-card__author-name,
.blog-post__author-name {
    color: #1E2B33;
}

.blog-card__title a:hover,
.blog-card__author-name:hover,
.blog-post__author-name:hover {
    color: #1E2B33;
    text-decoration: none;
}

.blog-card__title,
.blog-post__title {
    letter-spacing: 0;
    margin-bottom: 20px;
    text-transform: none;
}

.blog-card__author-image,
.blog-post__author-image {
    background-size: cover;
    border-radius: 50%;
    height: 45px;
    margin-right: 10px;
    width: 45px;
}

.blog-card__author-image,
.blog-card__meta,
.blog-post__author-image,
.blog-post__meta {
    display: inline-block;
    vertical-align: middle;
}

.blog-card__author-name,
.blog-card__date,
.blog-card__author-name,
.blog-post__date {
    display: block;
}

.blog-card__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 63%;
}

.blog-card__content {
    padding: 20px 20px 0;
}

.blog-card__tags {
    margin-bottom: 1em;
}

.blog-card__tags svg,
.blog-post__tags svg {
    fill: #34B5E5;
    height: 15px;
    margin-right: 10px;
    -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 15px;
}

.blog-card__tag-link,
.blog-post__tag-link {
    background-color: #34B5E5;
    border-radius: 4px;
    color: #FFF;
    padding: 5px;
    text-decoration: none;
}

.blog-card__tag-link:hover,
.blog-card__tag-link:focus,
.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
    color: #FFF;
    text-decoration: none;
}

.blog-post__tags {
    margin: 20px 0 40px;
}

.blog-card__footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 20px 40px;
}

.blog-related-posts {
    margin-top: 20px;
}

.blog-related-posts__title {
    text-align: center;
}

/* Blog Pagination */
.blog-pagination {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3.3rem;
    text-align: center;
}

.blog-pagination__link {
    border-radius: 4px;
    color: #C168C2;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    line-height: 1;
    margin: 0 0.1rem;
    padding: 0.25rem 0.6rem;
    text-decoration: none;
}

.blog-pagination__link--active {
    background-color: #34B5E5;
    color: #FFF;
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
    color: #E77DE8;
    text-decoration: none;
}

.blog-pagination__link--active:hover,
.blog-pagination__link--active:focus {
    color: #FFF;
}

.blog-pagination__prev-link,
.blog-pagination__next-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.blog-pagination__prev-link {
    margin-right: 0.25rem;
    text-align: right;
}
.blog-pagination__next-link {
    margin-left: 0.25rem;
    text-align: left;
}

.blog-pagination__prev-link--disabled,
.blog-pagination__next-link--disabled {
    color: #D0D0D0;
    cursor: default;
    pointer-events: none;
}

.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
    fill: #C168C2;
    margin: 0 5px;
}

.blog-pagination__link:hover svg,
.blog-pagination__link:focus svg {
    fill: #E77DE8;
}

.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
    fill: #D0D0D0;
}


/* Blog Footer */

.blog-post__footer__row-one,
.blog-post__footer__row-two {
    max-width: 560px;
}

.blog-post__footer__row-one {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px auto;
}

@media(max-width: 767px) {
    .blog-post__footer__row-one {
        -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.blog-post__footer__row-two {
    margin: 0 auto;
}

@media(max-width: 767px) {
    .blog-post__comments-buttons {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .blog-post__social-sharing {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 20px;
    }
}

/* Blog Comments */

.hide-button,
.hide-comments {
    display: none;
}

.comment.depth-0 {
    border-top: none !important;
}

.blog-post__footer__row-two form {
    border-radius: 4px;
    max-width: 100%;
}

.blog-post__comments-listing .comment {
    margin: 10px 0 20px;
}

.blog-post__comments-listing .comment-from a,
.blog-post__comments-listing .comment-from h4,
.blog-post__comments-listing .comment-date {
    color: #1E2B33;
    font-size: 1rem;
    text-transform: none;
}

.blog-post__comments-listing .comment-from h4 {
    font-weight: 600;
}

.blog-post__comments-listing .comment-from h4:after {
    content: "-"
}

.blog-post__comments-listing .comment-date {
    font-style: italic;
}

.blog-post__comments-listing .comment-reply-to,
.blog-post__comments-listing .comment-reply-to:hover {
    background-color: transparent;
}

.blog-post__comments-listing .comment-reply-to {
    color: #C168C2;
    cursor: pointer;
    padding-left: 30px
    text-decoration: none;
}

.blog-post__comments-listing .comment-reply-to:hover {
    color: #E77DE8;
    text-decoration: underline;
}
