.pricing-block-section {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.price-block {
    margin-bottom: 30px; 
    width: 30%; 
}
.price-block--monthly {
    display: block;
}
.price-block--annual {
    display: none;
}
.billing-selectors {
    display: table;
    margin: 0 auto;
    margin-bottom: 40px;
}
.billing-selectors__pricing-option {
    border: 1px solid #ccc;
    display: table-cell;
    padding: 10px 15px;
    transition: .4s;
    min-width: 200px;
    text-align: center;
}
.billing-selectors__pricing-option input[type="radio"] {
    visibility: hidden;
    position: absolute;
}
.billing-selectors__pricing-option input[type="radio"] + label:before {
    content: "";
    height: 16px;
    width: 16px;
    margin-right: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    display: inline-block;
    border-radius: 50%;
    vertical-align: sub;
}
.billing-selectors__pricing-option input[type="radio"]:checked + label:before {
    background-color: #fff;
    border: 6px solid #000;
    height: 6px;
    width: 6px;
}
.price-block__header {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}
.price-block__description-block {
    background-color: #fff;
    padding: 20px 40px;
    border: 1px solid #eee
}

@media (max-width: 768px) {
    .price-block {
        width: 100% !important;
    }
}