<div class="pricing-table">

    {# Pricing Filters #}
    <div class="billing-selectors">
        <div class="billing-selectors__pricing-option billing-selectors__pricing-option--left"><input id="monthly" type="radio" name="pricing-select" checked><label for="monthly">{{ module.opt_1.billTitleOne }}</label></div>
        <div class="billing-selectors__pricing-option billing-selectors__pricing-option--right"><input id="annual" type="radio" name="pricing-select"><label for="annual">{{ module.opt_2.billTitleTwo }}</label></div>
    </div>

    {# Pricing Table Blocks #}
    <div class="pricing-block-section">

        {# Monthly Block #}   
        {% for month in module.opt_1.monthTable %} 
            <div class="price-block price-block--monthly">
                <div class="price-block__header">
                    <div class="price-block__title">{{ month.monthTitle }}</div>
                    <div class="price-block__price">${{ month.monthPrice }}</div>
                    <div class="price-block__cta">{% cta guid='{{ month.monthCTA }}' %}</div>
                </div>
                <div class="price-block__description-block">
                    <div class="price-block__description">{{ month.monthDescription }}</div>
                </div>   
            </div>
        {% endfor %}
        
        {# Yearly Block #}
        {% for year in module.opt_2.yearTable %}
            <div class="price-block price-block--annual">
                <div class="price-block__header">
                    <div class="price-block__title">{{ year.yearTitle }}</div>
                    <div class="price-block__price">${{ year.yearPrice }}</div>
                    <div class="price-block__cta">{% cta guid='{{ year.yearCTA }}' %}</div>
                </div>
                <div class="price-block__description-block">
                    <div class="price-block__description">{{ year.yearDescription }}</div>
                </div>
            </div> 
        {% endfor %}

    </div>
</div>
