.content-wrapper {
  margin: 0 auto;
  max-width: 1340px;
  padding: 0px 25px;
}

.content-wrapper--narrow {
  max-width: 760px;
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section {
  padding-left: 20px;
  padding-right: 20px;
}

.dnd-section > .row-fluid {
  margin-left: auto;
  margin-right: auto;
}

.dnd-section .widget-type-cell {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .dnd-section .widget-type-cell {
    padding-left: 0px;
    padding-right: 0px;
  }
}