<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Biglytics - 404 Error
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  <div style="background-image: url('{{ get_asset_url('../../images/hero-bg-desktop.png') }}'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: 150px; padding-bottom: 80px;"></div>
  <section class="content-wrapper">
    <div class="error-page" data-error="404">
      <h1 class="error-page__heading">Page not found.</h1>
      <a class="button" href="/">Go Home</a>
    </div>
  </section>
</main>
{% endblock body %}
